<div class="row">
  <div class="span11" id='dashboard_events'>
    <div class='dashboard_section_loading text-center'>
      Loading...
      <br/>
      <img src="/assets/ajax-loader-bar.gif">
    </div>
  </div>
</div>