<div id="activities_container">
  Loading news feed..!
</div>

<div class="load_more_div clearfix text-center">
  <a class="btn-custom load_more btn-red center-div text-center btn-load_more" data-type="next_activities_feed"  data-next="2">
    Load More
  </a>
</div>