<div class='right-extra-div row recommended_people'>
  
  <div class='row head-container'>
    <div class='span4 shrink-div head'>
      <span class='pull-left'>
        <h3>Receommnded People</h3>
      </span>
      <span class="btn-show-all pull-right"></span>
      <div class="clearfix"></div>
    </div>
  </div>

  <div class='row recommended_people_container clearfix'>
    No recommendations
  </div>

  <button class='load_more btn btn_warning' data-type='next_recommended_people' data-next='2'>
    Load more
  </button>
</div>