<div class='right-extra-div row recommended_people'>
  
  <div class='row head-container'>
    <div class='span4 shrink-div head' data-toggle="tooltip" title="These are users close to you and who are popular on filmmo. Follow them to keep up to date.">
      <span class='pull-left'>
        <h3>Recommended People</h3>
      </span>
      <span class="btn-show-all pull-right"></span>
      <div class="clearfix"></div>
    </div>
  </div>

  <div class='row recommended_people_container clearfix'>
    No recommendations
  </div>

  <div class="load_more_div clearfix text-center">
    <a class="btn-custom load_more btn-red center-div text-center btn-load_more" data-type="next_recommended_people"  data-next="2">
      Load More
    </a>
  </div>

</div>