<div class="row">
  <div class="span3 widget well">
      <h5>Recommended People</h5>
      
      <div class='row recommended_people_container'>
        No recommendations
      </div>

      <button class='load_more btn btn_warning' data-type='next_recommended_people' data-next='2'>
        Load more
      </button>

  </div>
</div>