<div class="row">
  <div class="span3 widget well">
      <h5>Recommended People</h5>
      <ul>
        <li>Sri Vishnu Totakura</li>
        <li>Sri Vishnu Totakura</li>
        <li>Sri Vishnu Totakura</li>
        <li>Sri Vishnu Totakura</li>
        <li>Sri Vishnu Totakura</li>
      </ul>
  </div>
</div>