<div class="row">
  <div class="span3 widget well">
      <h5>Recommended Projects</h5>
      <ul>
        <li>Life of Pie</li>
        <li>Red 2</li>
        <li>Piranha</li>
        <li></li>
        <li></li>
      </ul>
  </div>
</div>