<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Welcome to filmmo</title>
  </head>
  <body style='font-family:"Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;'>
		<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="20" background="http://filmzu-4mapu5m2zx.elasticbeanstalk.com/assets/bg-main.jpg">	
			<tr>
			    <td>
		<div class="main" style="margin: 0;padding: 0;height: auto;width: 100%;height: 180%;border: none;background: url(http://filmzu-4mapu5m2zx.elasticbeanstalk.com/assets/bg-main.jpg) repeat">
	
		<div class="wrap_main" style="margin: auto;padding: 0;text-align: left;width: 600px;height: auto">

			<div class="film_zu" style="margin: 0;padding: 0;text-align: left;width: 600px;height: auto;float: left;background-color: #edf2f8;box-shadow: 0 0 17px #5b5c5b;margin-top: 50px">
				<div class="top_logo" style="margin: 0;padding: 0;text-align: left;width: auto;height: auto;float: left"><a href="#" style="text-decoration: none;border: none;color: #fff;outline: none"><img src="http://filmzu-4mapu5m2zx.elasticbeanstalk.com/assets/top-image2.jpg" alt="" style="border: none;width: auto;height: auto;float: left" /></a></div>
					<div class="its_nice" style="margin: 0;padding: 0;text-align: left;width: 520px;height: auto;float: left;margin-left: 35px;margin-top: 25px"><h1 style="margin: 0;padding: 15px 0 15px 0;text-align: center;width: 520px;height: auto;float: left;font-weight: normal;font-size: 18px;color: #515961">HELLO</h1>
                    <h2 style="margin: 0;padding: 0;text-align: center;width: 520px;height: auto;float: left;font-weight: bold;font-size: 27px;color: #515961">Welcome to filmmo!</h2>
		<p style="margin: 0;padding: 0;text-align: center;width: 520px;height: auto;float: left;font-weight: normal;font-size: 14px;color: #515961;margin-top: 20px;line-height: 20px">After an incredibly exciting year we are gearing up to launch filmmo. We would like to welcome you to the first entertainment industry matchmaking platform, providing you access to all the people it takes to create great video content.
</p></div>
 
 			<div class="diffrent" style="margin: 0;padding: 0;text-align: left;width: 520px;height: auto;float: left;margin-left: 35px">
	<p style="margin: 0;padding: 0;text-align: justify;width: 520px;height: auto;float: left;font-weight: normal;font-size: 12px;color: #515961;margin-top: 20px;line-height: 20px">Quick Links: <a href=“http://www.filmmo.com”>Home Page</a>, <a href=“http://www.filmmo.com/users/sign_up”>Sign Up</a>, <a href=“http://www.filmmo.com/people”>View People</a>, <a href=“http://www.filmmo.com/projects”>View Projects</a></p>
	
	<p style="margin: 0;padding: 0;text-align: justify;width: 520px;height: auto;float: left;font-weight: normal;font-size: 14px;color: #515961;margin-top: 20px;line-height: 20px">Creating websites to showcase your work is a thing of the past, filmmo makes it easy for you to display your portfolio and have people find you in one central place. You can find other filmmakers in your area to work with, get hired for new jobs, and engage your fans as your film unfolds. It’s really no wonder a Director at Pixar said “It’s about time someone did this!”</p>

       				 <p style="margin: 0;padding: 0;text-align: justify;width: 520px;height: auto;float: left;font-weight: normal;font-size: 14px;color: #515961;margin-top: 20px;line-height: 20px">Want to help us leave Beta even earlier! We love user feedback and if you are able to report any issues with the website by clicking the ‘?’ in the bottom right hand corner you can directly notify us and help make filmmo an even better product. You can also contact us at anytime through our <a href="http://www.filmmo.com/contact_us">contact page</a>.</p>
        							<p style="margin: 0;padding: 0;text-align: justify;width: 520px;height: auto;float: left;font-weight: normal;font-size: 14px;color: #515961;margin-top: 20px;line-height: 20px">This is just beginning of our story and we thank you for taking this first step with us.
</p></div>
				
                			<div class="people_main" style="margin: 35px 0 0 0;padding: 0;text-align: left;width: 600px;height: auto;float: left;background-color: #d4d8dc">
							<div class="people_one" style="margin: 20px 0 0 15px;padding: 0;text-align: left;width: 180px;height: auto;float: left">
								<div class="connect_main" style="margin: 0;padding: 0;text-align: left;width: 180px;height: auto;float: left"><img src="http://filmzu-4mapu5m2zx.elasticbeanstalk.com/assets/image-01.jpg" alt="" style="border: none;width: auto;height: auto;float: left" /><h1 style="margin: 0;padding: 0;text-align: center;width: 170px;height: auto;float: left;font-weight: 300;font-size: 14px;color: #666">Connect with the industry.</h1></div>
                                </div>
                                <div class="people_one" style="margin: 20px 0 0 15px;padding: 0;text-align: left;width: 180px;height: auto;float: left">
                                  <div class="connect_main" style="margin: 0;padding: 0;text-align: left;width: 180px;height: auto;float: left"><img src="http://filmzu-4mapu5m2zx.elasticbeanstalk.com/assets/image-02.jpg" alt="" style="border: none;width: auto;height: auto;float: left" /><h1 style="margin: 0;padding: 0;text-align: center;width: 170px;height: auto;float: left;font-weight: 300;font-size: 14px;color: #666">Hire talent or find work.</h1></div>
                                  </div>
                                  <div class="people_one" style="margin: 20px 0 0 15px;padding: 0;text-align: left;width: 180px;height: auto;float: left">
                                       <div class="connect_main" style="margin: 0;padding: 0;text-align: left;width: 180px;height: auto;float: left"><img src="http://filmzu-4mapu5m2zx.elasticbeanstalk.com/assets/image-03.jpg" alt="" style="border: none;width: auto;height: auto;float: left" /><h1 style="margin: 0;padding: 0;text-align: center;width: 170px;height: auto;float: left;font-weight: 300;font-size: 14px;color: #666">Get discovered.</h1></div>
									
                                 </div>
                                 <a href="http://filmmo.com/users/sign_up"><div class="create_button" style="margin: 35px 0 0 150px;padding: 0;text-align: left;width: 279px;height: 54px;float: left;padding-bottom: 30px;background: url(http://filmzu-4mapu5m2zx.elasticbeanstalk.com/assets/cta-join.png) no-repeat"></div></a>
                                 
                                </div>
									<div class="diffrent" style="margin: 0;padding: 0;text-align: left;width: 520px;height: auto;float: left;margin-left: 35px"><p style="margin: 0;padding: 0;text-align: justify;width: 520px;height: auto;float: left;font-weight: normal;font-size: 14px;color: #515961;margin-top: 20px;line-height: 20px">No matter whether you are cast, crew, writer, producer, agent, or just a fan, there is a place for you at filmmo.com   </p></div>

								<div class="cheers_bottom" style="margin: 25px 0 0 23px;padding: 0;text-align: left;width: 220px;height: auto;float: left">
								<div class="cheers_text" style="margin: 15px 0 0 13px;padding: 0;text-align: left;width: 120px;height: auto;float: left"><h1 style="margin: 0;padding: 0;text-align: left;width: 120px;height: auto;float: left;font-weight: normal;font-size: 14px;color: #515961;padding-bottom: 5px">Cheers,</h1>
                                <h2 style="margin: 0;padding: 0;text-align: left;width: 120px;height: auto;float: left;font-weight: bold;font-size: 14px;color: #515961"><a href="http://filmmo.com/" style="text-decoration: none;border: none;color: #515961;outline: none">The filmmo Team</a></h2></div>
								<div class="video_icon" style="margin: 0;padding: 0;text-align: left;width: auto;height: auto;float: right"><img src="http://filmzu-4mapu5m2zx.elasticbeanstalk.com/assets/cemra.png" alt="" style="border: none;width: auto;height: auto;float: right;margin-top: 10px;padding-bottom: 40px" /></div>
                        		</div>
                              </div>
			<div class="copy_right" style="margin: 0;padding: 20px 0 15px 30px;text-align: left;width: 500px;height: auto;float: left"><h1 style="margin: 0;padding: 0;text-align: left;width: auto;height: auto;float: left;font: normal 12px calibri;color: #fff">© Copyright 2013 filmmo.</h1></div>






</div>
</div>
</td>
</tr>
</table>
</body>
</html>
