<div class='standard-static-div' style='margin: 0px auto; width: 600px;'>
<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script>
    // Call the google map
    mapInit();
</script>
<!-- end scripts -->

<!-- Main Content -->
<div id="content" role="main">

    <section id="promo" class="section alt">
        <div class="map-top-shadow"></div>
        <div id="map"></div>
        <div class="map-bottom-shadow"></div>
    </section>

    <section class="section">
        <div class="container">
            <div class="page-header">
                <h1>
                    Contact Us <small>We answer every email, even when we are sleeping.</small>
                </h1>
            </div>
            <div class="row-fluid">
                <div class="span4">
                    <p>
                        We can't read minds yet so tell us what you are thinking!
                    </p>
                    <ul class="icons">
                        <li>
                            <p>
                                <i class="icon-home"></i>2377 Beryl St, San Diego, CA 92109
                            </p>
                            
                        </li>
                        <li>
                            <p>
                                <i class="icon-phone"></i>1-800-TheFilms    
                            </p>
                        </li>
                        <li>
                            <p>
                                <i class="icon-envelope"></i>info@filmzu.com    
                            </p>
                        </li>
                        <li>
                            <p>
                                <i class="icon-globe"></i>www.filmzu.com    
                            </p>
                        </li>
                    </ul>
										<div class='row share_area text-center'>
								      <div class="social-share-button" data-title="Filmzu" data-img="" data-url="">
								        <a href="http://twitter.com/thefilmzu" target='_blank' class="social-share-button-twitter" data-site="twitter"></a>
								        <a href="http://facebook.com/filmzu" target='_blank' class="social-share-button-facebook" d ata-site="facebook"></a>
								        <a href="http://plus.google.com/filmzu" target='_blank' class="social-share-button-google_plus" data-site="google_plus"></a>
								        </div>
								    </div>
                </div>
                <div class="span4">
                    <form class="form-horizontal">
											 <div class="startbutton text-center">
									        <a data-toggle='modal' data-target='#signup_modal' class="strtbtn btn regular text-left">
									          <div class="strtbtntext">Free, Start Creating</div>
									        </a>
									      </div>
									<br><br>
                        <fieldset>
                            <div class="control-group">
                                <label class="control-label" for="name">Name</label>
                                <div class="controls">
                                    <input type="text" class="input-xlarge" id="name">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="email">Email</label>
                                <div class="controls">
                                    <input type="text" class="input-xlarge" id="email">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="subject">Subject</label>
                                <div class="controls">
                                    <input type="text" class="input-xlarge" id="subject">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="message">Your message</label>
                                <div class="controls">
                                  <textarea class="input-xlarge" id="message" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="controls">
                                    <button type="submit" class="btn btn-primary">Send email</button>    
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </section>

</div>
</div>