<h1>Great films and Broken code make us Cry</h1>

<p>The page you were looking for cannot be found. Please visit our <%= link_to "People", user_path %>, <%= link_to "Projects", project_path %>, <%= link_to "Events", event_path %> or <%= link_to "Contact Us", contact_us_path %> if you believe there has been an error.</p>