<%= stylesheet_link_tag "static_pages/labs.css" %>
<!--========= Attract top starts======------>
          <div class="attractwrap">
            <div class="attractshadow">
            <div class="attract container-fluid">
              <div class="row-fluid">
                <div class="toptext span10 offset1 medium text-center">filmmo Labs
								</div>
                <div class="midtext span10 offset1 text-center light">
                  <p>How to Get the Most of Out Your New Project</p>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
            </div>
          </div>
        <!--========= Attract top end======------>
        <!--========= detailed info start======------>
          <div class="detailinfowrap" id="storiesinfo">
            <div class="detailinfo  container-fluid">
              <div class="row-fluid">
              <div class="featureh light span11 offset1">Defining Your Project</div>
              <div class="featuretext span12 light light">
                Whether it’s a film, short, music video or any other piece of creative content, its all a project. Defining what your project is becomes the first step for any content creator.
<br><br>
								A lot of people toss ideas around in their head and are not sure where to start.  We’ve all been there.  You might have a rough concept mapped out, a script outline, or gigabytes of rough footage that needs to be cut.  Taking your idea to reality is the first step, but it also can be an incredibly emotional and difficult plunge to take.
<br><br>
								There are a lot of things you might be unsure of or what to risk on your project.  As you ask yourself tough questions, remember why are you doing this.  If your goal is to shed light on a difficult topic, make money, or you just simply love film...take the leap and create a project! We built filmmo with the same counter-culture mentality as the artists we serve. We get that making a film is an intense and deeply personal experience, and you do it because of how it makes you feel.  At filmmo, we exist to make your film a reality and we want to help you meet the people that will make your film great.       
								<br><br>
								<blockquote class="pull-right">
								  <i>You can't connect the dots looking forward; you can only connect them looking backwards. So you have to trust that the dots will somehow connect in your future. You have to trust in something - your gut, destiny, life, karma, whatever. This approach has never let me down, and it has made all the difference in my life.</i>
								  <small>Steve Jobs</small>
								</blockquote>
								<br><br>
								Imagine the stories, the things you’ll learn, all the fantastic interactions you’ll have with people as you film.  As hard as it may be in an early stage, try to keep your goals simple. filmmo works best when there is a basic goal and you use the people you bring on to help you refine the goal to get you there. Don’t be afraid to pivot, some of the greatest films are made through a series of serendipitous and unforeseen events.
								      </div>
              </div>
              </div>
          </div>
        <!--========= detailed info ends======------>
        <!--========= detailed info start======------>
          <div class="detailinfowrap" id="featuredpeople">
            <div class="detailinfo  container-fluid">
              <div class="row-fluid">
              <div class="dtlh1 span12 medium">	Creating the Project
							</div>
							<div class="featuretext span12 light light">
              	Media is what makes filmmo different, and, if you can’t tell already, we think different. Having media in your project makes it so much better than writing a simple sentence or two about the people that you want. It’s your chance to tell a story or convey an emotion; it also tells people you are serious about making it happen.
								<br><br>
								When you write about your project, talk about it as you would to your friends. You don’t need to be a writer to explain to other people why you started your film.  So tell people about your experiences or motivations for your film like a story. We all like hearing a good story, and filmmo is about getting great stories created and shared.</div>
								<br><br>
								<div class="dtlh1 span12 small">
									Draft Settings
									</div>
									<div class="featuretext span12 light light">

								Creativity, innovation, ideas; they make the world we live in amazing. They fuel artistic vision and inspire us to do amazing things. Our brains are incredible at coming up with original thoughts, but have some trouble when it comes to remembering what we were thinking when that vision struck us.
								<br><br>
								When an idea strikes, it’s best to move on it quickly and start jotting down your thoughts for the film and the people you would need to do it.  Draft mode was added so you can do just that while keeping your idea private until it’s ready to be shared.  While in Draft mode you can edit your project details, figure out the budget and decide who to involve. Plus it’s motivating to know that Pre-Production status is just around the corner from Draft mode.
								</div>
								<div class="dtlh1 span12 small">
									Choosing Your Image
									</div>
									<div class="featuretext span12 light light">
									<img src="/assets/labs1.jpg" class="img-rounded" align="right" alt="" />
									This is how you represent yourself to the rest of the filmmo community, and picking the best image you can shows you are serious about creating something great. Projects that use professional-looking media often attract producers with more talented cast and crew. <b>You know how it goes, appearances are everything!</b>
									</div>
									<div class="dtlh1 span12 small">
									Setting Dates
									</div>
									<div class="featuretext span12 light light">
									<img src="/assets/labs2.jpg" class="img-rounded" align="right" alt="" />
									Important dates are not just for your fans and team to see when things are going down, they are vital tools for you. While sometimes it’s nice to be on island time, the reality is we all have deadlines. Setting milestones to hit are great ways to keep you motivated and on-time throughout your project.				</div>
									<div class="dtlh1 span12 small">
									Cast and Crew
									</div>
									<div class="featuretext span12 light light">
									<img src="/assets/labs3.jpg" class="img-rounded" align="right" alt="" />
									Casting is probably one of the funnest parts of making a film, but it’s no fun at all when you don’t have the right people to choose from. One of filmmo’s biggest challenges was to make a simple yet powerful system that anyone would feel comfortable on. We give you the tools, you make the decisions.
									<br><br>
									Casting is not always as complicated as people lead on, but knowing who you are working with is incredibly important.  Check your potential cast out: Watch their demo reel or clips, read endorsements about their skill sets, see what they’ve done before.  Intuition can tell us when someone is a good fit, but a person’s experience is easier to evaluate when its all laid out on their profile. We give you the tools to do your homework so you know what you are getting when you cast and crew.
									<br><br>
									filmmo is not about getting as many people as possible to bombard you with requests to be a part of the project, it’s about getting the right people.  filmmo puts the project creator in charge by offering tools to manage applicants at your pace.  We try to make casting a little less like hailing a cab and more like getting an Uber; you know exactly what you are going to get. Casting/Crewing through traditional means can also be time consuming and expensive, two things that filmmakers hate. Budgets are probably the biggest dictators of what you can and cannot do, they are a painful reality. filmmo saves you time and money so you can spend them on things that matter, like shopping for the right champagne for your wrap party.</div>
									<div class="dtlh1 span12 small">
									Paying Your Team
									</div>
									<div class="featuretext span12 light light">
									
									What people make is dependent upon a lot of factors, sometimes it’s what you decide, sometimes it’s what the law decides. There are a number of Guilds that operate in the filmmaking industry; some of the main unions in the United States are SAG-AFTRA, IATSE, and WGA to name a few. All of the major union pay rates can be seen here in the Resources section. If you are hiring non-union cast/crew, you must still adhere to <a href="http://www.dol.gov/whd/minwage/america.htm.">all state minimum wage guidlines</a>. These resources are meant to be a helpful start in managing your payroll, but are not a comprehensive guide. You are responsible for understanding the individual guidelines and ordinaces for what you operate in.
									<br><br>
									You can find incredibly talented film industry professionals outside of the unions, such as people in film school or freelancing.  There are plenty of examples of these emerging filmmakers going on to win Academy Awards, so it’s important not to discredit their value.  A good rule of thumb is to pay people fairly; you often get better results and end up saving money in the long run.  Keep in mind that non-union cast/crew don’t have a big union behind them pushing for fair pay.  You’ll find you spend more time and money trying to fix problems with an underpaid cast and crew, do it right from the start.
									</div>
									<div class="dtlh1 span12 small">
									Getting What you Give
									</div>
									<div class="featuretext span12 light light">
									
									Copy and credit means you “pay” your actors with a copy of the DVD and they get credits with footage to include in their reel. Deferred pay means the team may get paid, but only if the film makes a profit. Copy and credit deals have always been around and have literally helped thousands of people break into the industry.
									<br><br>
									filmmo’s goal is to promote fair treatment of artists and crew in the industry, and users reported to be taking advantage of people will be banned from using filmmo.  In competitive areas like Los Angeles, you can always find a lot of people who will work for fairly inexpensive rates, but that should not be an invitation to abuse their dedication. You get what you give, so be fair to emerging talent. The people you meet climbing up the ladder are the same people you meet going down.
									</div>
									<div class="dtlh1 span12 small">
									Marketing
									</div>
									<div class="featuretext span12 light light">
									<img src="/assets/labs4.jpg" class="img-rounded" align="right" alt="" />
									Have you ever wanted to see the behind-the-scenes of a film as it’s being made? Want to hear some cool production stories? Well, we did too.
									<br><br>
									About 90% of internet traffic is video-related, so as more and more people turn to consuming content online, it makes sense to have a way to engage fans throughout the process of the film’s creation. Traditionally there is a disconnect between the filmmaker and the fan that is detrimental to the process. By having a dedicated platform for filmmakers, you can build a following that wants to view and share your video when it’s done without having to compete for attention on Twitter and Facebook.
									<br><br>
									It’s not uncommon for big studios to spend half or more of the film’s production budget on Print and Advertising (P&A).  Studios use an incredibly outdated and inefficient marketing strategies. By waiting until the film is basically done to do a huge marketing push, they are missing out on getting fans for a lot less money. Honestly, whoever went to a flick because they saw it on the side of a bus?   
									<br><br>
									filmmo pioneered the idea of Early Stage Fan Engagement when we saw how inefficiently film budget’s were used. With project on filmmo, you can build up fans early in the process and have them engaged with you as things progress. This saves you money on trying to do a huge marketing push 2 weeks away from release, because you already have an audience who wants to see your film.  
									</div>
									<div class="dtlh1 span12 small">
									Pictures and Video	
									</div>
									<div class="featuretext span12 light light">
									<img src="/assets/labs5.jpg" class="img-rounded" align="right" alt="" />									
									People love pics and video, so uploading really good shots is a great way to keep fans engaged.
									<br><br>
									Your blog is NOT like your Facebook wall; you are the only one who can post updates on your profile or project.  We did this intentionally to give you control of what people see about your project.  This is not a place for trolls, rather a dedicated place to showcase your work and engage fans. The internet is so full of distractions that it really is hard to get a place to find dedicated film fans.
									<br><br>
									You can post on your Twitter or Facebook, but unless your fans only follow you, it’s really easy for your content to get lost in all the non-film related traffic. filmmo distills all of your core value props to your fans in a simple yet visually stunning experience.
									
									
							</div>
							
              
              
              </div>
              </div>
          </div>
        <!--========= detailed info ends======------>
        <!--=========  featured projects starts======------>
          <div class="featurewrap" id="contentcreator">
            <div class="detailinfo  container-fluid">
              <div class="row-fluid">
              <article class="span12">
                <div class="dtltext span12">
                  <div class="dtlinfoh regular">Building Business</div>
                  <div class="dtlinfotext regular">
                  	Creating a great piece of promotional video is key; a high-impact teaser is one of the most valuable assets you can have.  This promo video does three things really well for your business: Increases sales, establishes trust, and gets traffic on your site.  With all of the benefits of video, it is shocking how few businesses use it or how little they invest when they do.  With video appearing higher in search results and making viewers about 75% more likely to buy a product*, a better question is: Can you afford not to have a well-produced video?

										<br><br>
										There are thousands of applications for video, from a real estate agent wanting to showcase a home to a young startup looking to make a 60-second explainer video. <a href="http://www.youtube.com/watch?v=ZUG9qYTJMsI">One of the most successful viral video campaigns ever</a> made was produced on a $4,500 budget. As a business owner or employee in a small company, you often get the “joy” of wearing a lot of hats. When the subject of producing a video comes up at the next meeting, you might not know where to even begin. Now you do. That was one of the inspirations for filmmo, people need to a place to find vetted  filmmakers. We tried Craigslist, but it was just way too hit or miss and took forever to look through all of the people. Fortunately, filmmo makes it a lot easier to find the right people to make your film happen.
										<br><br>

										When you think about the reality of what it takes to produce a video, you realize there are a lot of moving parts to make it work. But with filmmo, we give you options: produce it yourself or hire a producer.
										<br><br>
										<div class="dtlinfoh regular small">1. Self-produce</div>

										If you are choosing this route, you should be savvy with technology, creative, and have lots of free time. Start by following along in this guide, and also realize there are several key positions you will need to fill:
										<br><br>
										<ul>
											<li><b>Director of Photography (DP)</b> this person films and should be able to do some    lighting</li><br>
												<li><b>Audio Department</b> Sound is about 70% of your film, make sure to bring on a good specialist who can handle recording audio.</li><br>
											<li><b>Editor</b> This person takes all of the footage and makes it nice. You might here the saying “we’ll fix it in post” this is the person that actually has to fix it.</li><br>
											<li><b>Actors</b> Getting a trained actor vs trying to hiring your Uncle Donny differentiates the amateurs from the pro’s. Know how and where to spend your money, and the cast is important, seriously.</li>
											</ul>
											<br><br>
										You will need to have a vision of what you want, but don’t be afraid to ask for creative input. Also remember to negotiate and fix all pay rates upfront, and be sure to visit the Resources section to find the proper agreements to use when hiring freelance filmmakers.  
										<br><br>
										Making your video will be fun, but realize everything will take much longer than you expect it. Plan ahead as much as possible, and count on things going wrong. There is no secret formula to produce a great video for your business, but keeping it simple never hurt!
										<br><br>
										
										<div class="dtlinfoh regular small">2. Hire a producer</div>

										This is a great route if you can afford it and/or don’t have the time or resources to put the production together.  Hiring a producer off the bat sometimes makes a lot more sense and can save people money in the long run.  Some people learn the hard way and try to save money cutting corners while producing it themselves.  In the end, they’re not satisfied with the finished product and have to start over. If they had a pro from the start, some of the ever-present pitfalls may have been avoided.
										<br><br>
										As in self-producing, it helps to have an idea of what you want, while seeking creative input. Also remember to negotiate to all pay rates upfront, and be sure to visit the Resources section to find the proper agreements to use when hiring a producer.
										<br><br>
										Regardless of the route you choose, we advise you to stick to a few key things:
										<br><br><ul><li>
										<b>1.Write your own script.</b> No one really knows your company like you do. It’s not a bad idea to bring someone on to proof it or adjust your copy, but your words should be at the core of your message.
										</li><br><li>
										<b>2. Don’t set out to make a viral video campaign.</b> When you look at some of the top marketing campaigns, the conversation never started with “Let’s make a viral video”. The heart of the video was making something worth watching. Use humor, <a href="http://www.youtube.com/watch?v=XpaOjMXyJGk">tell a touching story</a>, create something exciting; your viewers will want to spread the word.		</li>
										</ul><br><br>
										You can check out <a href="https://vimeo.com/69262690">filmmo’s explainer video</a> if you want to see some examples of what we think a good video looks like. Remember, it’s about telling great stories, so write out your script like you’re talking to people. While sometimes animation can be more effective, it’s a call you have to make for what style of video you want to create. Regardless of the route you take, filmmo gives you the tools to make your idea into a reality.<br><br>
                </div>
                </div>
              </article>
              </div>
              </div>
          
          </div>
        <!--========= featured projects ends======------>
        <% if false %>
        <!--========= attract info starts======------>
          <div class="attractinfowrap" id="worldmap">
            <div class="featured container-fluid">
              <div class="row-fluid">
              
              <div class="featureh regular span12 text-center">You Talked, We Listened</div>
              <div class="featuretext span10 offset1 light text-center">
                Call us dreamers, but we feel that every problem can be solved with technology. We worked with literally thousands of filmmakers to create the easiest and most technologically advanced matchmaking and collaboration platform.   Our Research and Development period went to lengths few would have, but creating value to filmmakers and their fans could not be compromised.
                
                <a href="" data-toggle='modal' data-target='#signup_modal' class='light'>Join Now, for Free ></a>
                
              </div>
              </div>
            </div>
          </div>
        <!--========= attract info ends======------>
        <!--=========  featured projects starts======------>
          <div class="featurewrap" id="featuredhub">
            <div class="featured container-fluid" >
              <div class="row-fluid">
              <div class="featureh light span12 text-center">We Wanted to Create a Hub Where Content Gets Made</div>
              <div class="featuretext span10 offset1 regular text-center light">
                Technology has made it cheaper and easier to take your idea of a film and actually make it happen. We all love films and online video, but it’s just really hard to sort through all of the content there and interact with the filmmaker. There has typically been this separation between the artists and the audience so we wanted to merge those 2 aspects.  We have huge plans for building the filmmo community, and what we have created it the beginning.  Our promise is to continuously use technology to build tools that make it easier for filmmakers to create great content to engage their fans. <a data-toggle='modal' data-target='#signup_modal' href="">Are you ready to be a part of the revolution?</a>
              </div>
              
              </div>
            </div>
          </div>
        <!--========= featured projects ends======------>
        
          <!--=========  featured projects starts======------>
          <div class="featurewrap" id="teamfounder">
            <div class="founder featured container-fluid" >
              <div class="row-fluid">
              <div class="featureh regular span12 text-center">Meet The Founders</div>
              <div class="featuretext span10 offset1 regular text-center">
                Technology has made it cheaper and easier to take your idea of a film and actually make it happen. We all love films and online video, but it’s just really hard to sort through all of the content there and interact with the filmmaker. There has typically been this separation between the artists and the audience so we wanted to merge those 2 aspects.  We have huge plans for building the filmmo community, and what we have created it the beginning.  Our promise is to continuously use technology to build tools that make it easier for filmmakers to create great content to engage their fans.  <a href="" data-toggle='modal' data-target='#signup_modal' class='light'>Are you ready to be a part of the revolution?</a>
              </div>
              <div class="founderslist text-center">
                <ul>
                  <li class="fblue span3">
                    <div class="fndrimg" style="background:url('/assets/fndrbg.png');">
                      <!-- add image as background image -->
                    </div>
                    <div class="fndr-text">
                    <div class="fndrname regular">John Motlow</div>
                    <div class="fndrtitle light">Super Cool Title</div>
                    <div class="fndrmail"> e. john@filmmo.com</div>
                    </div>
                  </li>
                  <li class="fgreen span3">
                    <div class="fndrimg" style="background:url('/assets/fndrbg.png');"></div>
                    <div class="fndr-text">
                    <div class="fndrname">John Motlow</div>
                    <div class="fndrtitle">Super Cool Title</div>
                    <div class="fndrmail"> e. john@filmmo.com</div>
                    </div>
                  </li>
                  <li class="fpurp span3">
                    <div class="fndrimg" style="background:url('/assets/fndrbg.png');"></div>
                    <div class="fndr-text">
                    <div class="fndrname">John Motlow</div>
                    <div class="fndrtitle">Super Cool Title</div>
                    <div class="fndrmail"> e. john@filmmo.com</div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="row-fluid">
              <div class="featureh regular span12 text-center">Meet the Team</div>
              <div class="featuretext span10 offset1 regular text-center">
                Technology has made it cheaper and easier to take your idea of a film and actually make it happen. We all love films and online video, but it’s just really hard to sort through all of the content there and interact with the filmmaker. There has typically been this separation between the artists and the audience so we wanted to merge those 2 aspects.  We have huge plans for building the filmmo community, and what we have created it the beginning.  Our promise is to continuously use technology to build tools that make it easier for filmmakers to create great content to engage their fans.  <a data-toggle='modal' data-target='#signup_modal' href="">Are you ready to be a part of the revolution?</a>
              </div>

              <div class='team_div'>
                <a href='http://codebrahma.com' target='_blank' class='row codebrahma'>
                  <div class='logo'>
                    <img src="http://codebrahma.com/images/logo.png">
                  </div>
                  <div class='contact'>
                    <div class='by light'>
                      Programmed by:
                    </div>
                    <div class='address light'>
                      CodeBrahma Technologies Pvt. Ltd.,<br/>
                      Bangalore, India<br/>
                      codebrahma.com
                    </div>
                  </div>
                  
                </a>
                <div class='designers'>
                  
                  <div class='designer'>
                    <div class='image'>
                      <img src="/assets/teamimg.png" alt="" />
                    </div>
                    <div class='contact'>
                      <div class="teamname bold">John Motlow</div>
                      <div class="teamtitle regular">Super Cool Title</div>
                      <div class="teammail"> e. john@filmmo.com</div>
                    </div>
                  </div>

                  <div class='designer'>
                    <div class='image'>
                      <img src="/assets/teamimg.png" alt="" />
                    </div>
                    <div class='contact'>
                      <div class="teamname bold">John Motlow</div>
                      <div class="teamtitle regular">Super Cool Title</div>
                      <div class="teammail"> e. john@filmmo.com</div>
                    </div>
                  </div>



                </div>
              </div>
              
              </div>
            </div>
          </div>
        <!--========= featured projects ends======------>
            <% end %>
        <!--=========  featured projects starts======------>
          <div class="featurewrap" id="twitfb">
            <div class="featured container-fluid" >
              <div class="row-fluid">
              <div class="featureh top20 regular span9  text-center"><img src="/assets/twitfbt_small.png" alt="" style='margin-right: 20px;'/> Follow us, we’d love to meet you!</div>
              <div class="featureh regular span9 offset3 regular text-center">
                Or connect with us on Facebook <img src="/assets/twitfbf_small.png" alt="" style='margin-left: 50px;'/> 
              </div>
              <div data-toggle='modal' data-target='#signup_modal' class="startbutton span6 offset3 text-center">
                  <div class="strtbtn btn bold text-left"><div class="strtbtntext">Free, Start Creating </div></div>
                </div>
              
              </div>
            </div>
          </div>
        <!--========= featured projects ends======------>