<%= stylesheet_link_tag "home_page.css" %>
<div class="detailinfowrap">
  <div class="detailinfo maincontain container">
    <div class="row">
    <div class="dtlh1 span12 text-center regular">Opportunities</div>
    
    <div class="discover clearfix">
        
        <div class="info verylight"></div>
				<div class="dtlinfotext light">
If you are interesting in joining the Filmzu Team or becoming a partner then we encourage you to send your resume or information via email to nick@filmzu.com
				</div>
				</div>
				
				
		</div>

	  </div>


	</div>
</div>
