<%= stylesheet_link_tag "home_page.css" %>
<div class="detailinfowrap">
  <div class="detailinfo maincontain container">
    <div class="row">
    	<div class="dtlh1 span12 text-center regular">Opportunities at Filmzu</div>
    		<div class="discover clearfix">
        	<div class="info verylight"></div>
						<div class="dtlinfotext light">
							<%= image_tag("founders.jpg", :width => "50%", :height => "50%", :class => "img-polaroid", :alt => "Rupert Ralston & Nick Ghirardelli at Techcrunch Event 2013", :align => "right", :title => "Nick Ghirardelli & Rupert Ralston", :data => {:toggle => "tooltip"}) %>
The team at Filmzu are enthusiastic, hard-working and we love seeing filmmakers succeed. We are a team of problem-solvers, dreamers, tech-heads, and passionate about <%= link_to "our company", our_story_path %>.
							<br><br>
							If you share our passion and are motivated by solving a real problem which is an issue in many talented film professionals lives then you may be a great fit here with the Filmzu team. 
							<br><br>
							If you are interesting in getting in touch with us, or you're looking for an internship, employment or becoming a partner then we encourage you to get in contact with us through the <%= link_to "contact page", contact_us_path %>.
						</div>
				</div>
		</div>
	  </div>
	</div>
</div>
