<%= stylesheet_link_tag "home_page.css" %>
<div class="detailinfowrap">
  <div class="detailinfo maincontain container">
    <div class="row">
    	<div class="dtlh1 span12 text-center regular">What's happening at filmmo</div>
    		<div class="discover clearfix">
        	<div class="info verylight"></div>
						<div class="dtlinfotext light">
							
						<script type="text/javascript" src="http://filmmo.tumblr.com/js"></script>	
						
						</div>
				</div>
		</div>
	  </div>
	</div>
</div>
