<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Welcome to Filmzu</title>
  </head>
  <body style='font-family:"Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;'>
		<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="20" background="http://filmzu-dev-env-cpbt693qtg.elasticbeanstalk.com/assets/bg-main.jpg">	
			<tr>
			    <td>
		<div class="main" style="margin: 0;padding: 0;height: auto;width: 100%;height: 180%;border: none;background: url(http://filmzu-dev-env-cpbt693qtg.elasticbeanstalk.com/assets/bg-main.jpg) repeat">
	
		<div class="wrap_main" style="margin: auto;padding: 0;text-align: left;width: 600px;height: auto">

			<div class="film_zu" style="margin: 0;padding: 0;text-align: left;width: 600px;height: auto;float: left;background-color: #edf2f8;box-shadow: 0 0 17px #5b5c5b;margin-top: 50px">
				<div class="top_logo" style="margin: 0;padding: 0;text-align: left;width: auto;height: auto;float: left"><a href="#" style="text-decoration: none;border: none;color: #fff;outline: none"><img src="http://filmzu-dev-env-cpbt693qtg.elasticbeanstalk.com/assets/top-image.jpg" alt="" style="border: none;width: auto;height: auto;float: left" /></a></div>
					<div class="its_nice" style="margin: 0;padding: 0;text-align: left;width: 520px;height: auto;float: left;margin-left: 35px;margin-top: 25px"><h1 style="margin: 0;padding: 15px 0 15px 0;text-align: center;width: 520px;height: auto;float: left;font-weight: normal;font-size: 18px;color: #515961">It's nice to meet you </h1>
                    <h2 style="margin: 0;padding: 0;text-align: center;width: 520px;height: auto;float: left;font-weight: bold;font-size: 27px;color: #515961"><%= @user.name %></h2>
		<p style="margin: 0;padding: 0;text-align: center;width: 520px;height: auto;float: left;font-weight: normal;font-size: 14px;color: #515961;margin-top: 20px;line-height: 20px">Welcome to <span style="width: 520px;height: auto;float: none;font-weight: bold;font-size: 14px;color: #515961;text-align: center">Filmzu,</span> the exclusive Entertainment Industry network designed<br />to help you connect to other film professionals with<br />
 			relevant info to help keep you current.</p></div>
 
 			<div class="diffrent" style="margin: 0;padding: 0;text-align: left;width: 520px;height: auto;float: left;margin-left: 35px"><p style="margin: 0;padding: 0;text-align: justify;width: 520px;height: auto;float: left;font-weight: normal;font-size: 14px;color: #515961;margin-top: 20px;line-height: 20px">The difference between a good film and a bad one is they probably had the wrong person. Maybe a different writer, better DP, or switching out a 			   				cast would have done it,  but there was never a good place to turn to find the right ones.  </p>
       				 <p style="margin: 0;padding: 0;text-align: justify;width: 520px;height: auto;float: left;font-weight: normal;font-size: 14px;color: #515961;margin-top: 20px;line-height: 20px">As a member of <span style="width: 520px;height: auto;float: none;font-weight: bold;font-size: 14px;color: #515961;text-align: center">Filmzu</span> you have access to talented filmmakers that share your  vision for creating great film and video content, and interact   	   						with fans across the globe. <span style="width: 520px;height: auto;float: none;font-weight: bold;font-size: 14px;color: #515961;text-align: center">Filmzu</span> enables you to post a project to find people to work with, apply to other people's projects, and even         				includes a dashboard to easily manage the process.</p>
        							<p style="margin: 0;padding: 0;text-align: justify;width: 520px;height: auto;float: left;font-weight: normal;font-size: 14px;color: #515961;margin-top: 20px;line-height: 20px">If you've been trying to break in, <span style="width: 520px;height: auto;float: none;font-weight: bold;font-size: 14px;color: #515961;text-align: center">Filmzu</span> gives you the tools to be discovered and create great video content in a simple, and 																								 										stunning experience.</p></div>
				
                			<div class="people_main" style="margin: 35px 0 0 0;padding: 0;text-align: left;width: 600px;height: auto;float: left;background-color: #d4d8dc">
							<div class="people_one" style="margin: 20px 0 0 15px;padding: 0;text-align: left;width: 180px;height: auto;float: left">
								<div class="connect_main" style="margin: 0;padding: 0;text-align: left;width: 180px;height: auto;float: left"><img src="http://filmzu-dev-env-cpbt693qtg.elasticbeanstalk.com/assets/image-01.jpg" alt="" style="border: none;width: auto;height: auto;float: left" /><h1 style="margin: 0;padding: 0;text-align: center;width: 170px;height: auto;float: left;font-weight: normal;font-size: 12px;color: #666">Connect with the industry.</h1></div>
                                </div>
                                <div class="people_one" style="margin: 20px 0 0 15px;padding: 0;text-align: left;width: 180px;height: auto;float: left">
                                  <div class="connect_main" style="margin: 0;padding: 0;text-align: left;width: 180px;height: auto;float: left"><img src="http://filmzu-dev-env-cpbt693qtg.elasticbeanstalk.com/assets/image-02.jpg" alt="" style="border: none;width: auto;height: auto;float: left" /><h1 style="margin: 0;padding: 0;text-align: center;width: 170px;height: auto;float: left;font-weight: normal;font-size: 12px;color: #666">Hire talent or find work.</h1></div>
                                  </div>
                                  <div class="people_one" style="margin: 20px 0 0 15px;padding: 0;text-align: left;width: 180px;height: auto;float: left">
                                       <div class="connect_main" style="margin: 0;padding: 0;text-align: left;width: 180px;height: auto;float: left"><img src="http://filmzu-dev-env-cpbt693qtg.elasticbeanstalk.com/assets/image-03.jpg" alt="" style="border: none;width: auto;height: auto;float: left" /><h1 style="margin: 0;padding: 0;text-align: center;width: 170px;height: auto;float: left;font-weight: normal;font-size: 12px;color: #666">Get discovered.</h1></div>
									
                                 </div>
                                 <a href="http://www.filmzu.com/projects/new"><div class="create_button" style="margin: 35px 0 0 150px;padding: 0;text-align: left;width: 279px;height: 54px;float: left;padding-bottom: 30px;background: url(http://filmzu-dev-env-cpbt693qtg.elasticbeanstalk.com/assets/create.png) no-repeat"></div></a>
                                 
                                </div>
									<div class="diffrent" style="margin: 0;padding: 0;text-align: left;width: 520px;height: auto;float: left;margin-left: 35px"><p style="margin: 0;padding: 0;text-align: justify;width: 520px;height: auto;float: left;font-weight: normal;font-size: 14px;color: #515961;margin-top: 20px;line-height: 20px">No matter if you are  cast, crew, writer, producer, agent, or a fan, there is a place for you here.   </p></div>

								<div class="cheers_bottom" style="margin: 25px 0 0 23px;padding: 0;text-align: left;width: 220px;height: auto;float: left">
								<div class="cheers_text" style="margin: 15px 0 0 13px;padding: 0;text-align: left;width: 120px;height: auto;float: left"><h1 style="margin: 0;padding: 0;text-align: left;width: 120px;height: auto;float: left;font-weight: normal;font-size: 14px;color: #515961;padding-bottom: 5px">Cheers,</h1>
                                <h2 style="margin: 0;padding: 0;text-align: left;width: 120px;height: auto;float: left;font-weight: bold;font-size: 14px;color: #515961"><a href="http://filmzu.com/" style="text-decoration: none;border: none;color: #515961;outline: none">The Filmzu Team</a></h2></div>
								<div class="video_icon" style="margin: 0;padding: 0;text-align: left;width: auto;height: auto;float: right"><img src="http://filmzu-dev-env-cpbt693qtg.elasticbeanstalk.com/assets/cemra.png" alt="" style="border: none;width: auto;height: auto;float: right;margin-top: 10px;padding-bottom: 40px" /></div>
                        		</div>
                              </div>
			<div class="copy_right" style="margin: 0;padding: 20px 0 15px 30px;text-align: left;width: 500px;height: auto;float: left"><h1 style="margin: 0;padding: 0;text-align: left;width: auto;height: auto;float: left;font: normal 12px calibri;color: #fff">Copyright and unsubscribe information here.</h1></div>






</div>
</div>
</td>
</tr>
</table>
</body>
</html>
