<p><%= @user.name %>,</p>

<p>Thank you for signing up. You can find your <%= link_to "User Profile", user_url(@user) %> now live on Filmzu</p>

<p>
<%= link_to "Filmzu.com" ,root_url %> Freedom for Filmmakers
</p>
