.dashboard_widgets
  .widget
    width: 190px
    padding: 10px

#isotope_container
  .item
    width: auto
    max-width: 130px
    margin: 2px
    .activity_summary
      font-size: 10px
      font-style: italic