$role-circle-border: #1691de
$divider-border: #c6d0db
$grey-backdrop-text: #636a73

#users-dashboard
  margin-top: 45px !important

.dashboard-main-nav
  ul.nav
    background: url('/assets/dash-nav-bg.png') repeat
    position: relative
    left: -40px
    width: 120px
    height: 850px
    -moz-border-radius: 0px
    -webkit-border-radius: 0px 0px 0px 7px
    border-radius: 0px 0px 0px 7px

    li.active > a, li.active:hover > a
      background-color: #eeeeee
    
    li, li.active:hover
      margin: 10px 0px
      border-bottom: 1px solid #2d3456
      box-shadow: none
      
    li a
      -moz-border-radius: 0px
      -webkit-border-radius: 7px 0px 0px 7px
      border-radius: 7px 0px 0px 7px

      margin: 0px 0px 0px 10px
      height: 55px
      height: 110px
      .nav-icon
        width: 40px
        height: 35px
        padding: 20px 20px
      .nav-icon.home
        background: url(/assets/home-white-big.png) center no-repeat
      .nav-icon.messages
        background: url(/assets/envelop-white-big.png) center no-repeat
      .nav-icon.projects
        background: url(/assets/clip-white-big.png) center no-repeat
      .nav-icon.events
        background: url(/assets/calendar-white-big.png) center no-repeat
      .nav-icon.settings
        background: url(/assets/gear-white-big.png) center no-repeat
      .nav-text
        text-align: center
        color: white
    li.active > a
      background: #edf1f7
      .nav-icon.home
        background: url(/assets/home-blue-big.png) center no-repeat
      .nav-icon.messages
        background: url(/assets/envelop-blue-big.png) center no-repeat
      .nav-icon.projects
        background: url(/assets/clip-blue-big.png) center no-repeat
      .nav-icon.events
        background: url(/assets/calendar-blue-big.png) center no-repeat
      .nav-icon.settings
        background: url(/assets/gear-blue-big.png) center no-repeat
      .nav-text
        text-align: center
        color: #2d3456
    li a:hover
      background: none    
    li:hover
      box-shadow: inset 5px 25px 83px -15px black, inset -5px -20px 122px -30px white



.dashboard-tabs
  .tab-pane.main
    background: #eaedf0
    overflow: hidden
    min-height: 900px
    .dashboard_section_loading
      margin: 300px 0px
    .message_for_empty
      margin: 10px 0px 30px 0px
.dashboard-tab-main-head
  background: url(/assets/dashboard-section-bg.png) center repeat-x
  min-height: 130px
  padding: 40px
  color: white
  background-size: auto 100%
  .dashboard-tab-name
    font-size: 40px
    margin: 20px 0px
    margin-left: 20px
  .dashboard-tab-desc
    font-size: 20px
    margin-left: 20px

.dashboard-tab-main-head
  a.new-project, a.new-project:hover, a.new-event, a.new-event:hover
    color: white
    font-size: 20px
    padding-left: 20px
    padding-right: 20px


.dashboard-tab-heading
  padding: 20px
  font-size: 20px
  border-bottom: 1px solid $divider-border
  margin-bottom: 10px
  color: #969fab
.dashboard-tab-heading.secondary
  border-top: 1px solid $divider-border


.conversations-display-tabs
  .dashboard_section_loading
    margin-top: 100px !important


.profpicwrap
  height: 225px
  width: 225px
  border-radius: 300px
  position: relative
  border: 13px solid white
  background: white
  background-size: cover !important

  -webkit-box-shadow: inset 0 0 4px 4px rgba(0,0,0,.4), 0 0 2px 2px rgba(0,0,0,.1)
  box-shadow: inset 0 0 4px 4px rgba(0,0,0,.4), 0 0 2px 2px rgba(0,0,0,.1)
  background: url('/assets/profpic.png')

  -webkit-background-size: cover
  -moz-background-size: cover
  background-size: cover
  overflow: hidden
  z-index: 8
  margin: 10px 20px 15px 20px

.tabs-nav-home
  position: relative
  margin-left: 15px
  top: -33px
  .nav-tabs
    border-bottom: 0px
  li
    margin-right: 5px
    margin-bottom: 0px
    a
      width: 180px
      background: #212429
      color: white
      font-size: 17px
      text-align: center
      height: 17px
      box-shadow: 0px 34px 66px -52px black inset
      border: 0px
    a:hover
      background: #EAEDF0
      color: #212429
  li.active
    a, a:hover
      background: #EAEDF0
      color: #212429
      border: 0px


.user-profile-head
  position: relative
  a:hover
    color: white
  padding: 0px 0px 35px 0px

  .edit-user-photo
    position: absolute
    bottom: 55px
    left: 25px
    padding-left: 5px
    .black-pencil-icon
      top: 0px

  .summary
    padding-top: 30px
    margin-top: 25px
    .notifications-summary
      position: relative
      width: 300px
    .welcome
      font-size: 30px
      margin-bottom: 20px
    .btn-notification
      height: 35px
      width: 265px
      background-size: 100% 100%
      padding: 10px 25px 0px 10px
      background: url("/assets/notification-black-btn.png") center no-repeat
      font-size: 17px
      .blue-star-icon
        margin-left: 5px
        margin-top: 1px
    .ignore-btn
      width: 20px
      position: absolute
      top: 5px
      right: 3px
      font-size: 15px
      color: #6b6f7b

    .links
      .link
        margin-right: 10px
      .black-pencil-icon
        left: -5
      .eye-open-icon
        margin-left: -8px
.user-home-tab-content
  width: 560px
  margin-top: 25px

#news_feed
  margin-top: 20px
  .load_more_div
    margin: 20px 0px
    .load_more
      padding: 2px 18px
      font-size: 18px
      border-radius: 3px

#notifications_tab
  .notif_summary  
    margin-left: 30px
    margin-bottom: 30px
    color: black
    font-size: 20px

  .notification
    position: relative
    font-weight: 400px
    color: #82848d
    margin-left: 10px
    .usrimg
      width: 50px
      height: 50px
    .notefull
      width: 440px
    .notemsg
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
    .notetime
      font-size: 12px
    .hide-me
      display: block !important
      position: absolute
      top: 5px
      right: 10px
      color: #a0a8b1

.dashboard_widgets
  width: 320px
  .widget
    width: 190px
    padding: 10px

  .head-container
    border-bottom: 1px solid #c6d0db
    padding-bottom: 10px

  .recommended_people
    margin-left: 0px
    .btn-follow-user
      background: url("/assets/hrt.png") no-repeat 5% center #d4d8dc
      margin-top: 2px
      width: 68px
      min-width: 30px
      margin-left: 7px
      color: #515961 !important
      padding: 2px 0px 2px 15px !important
      text-shadow: none
      border-radius: 3px
      margin: 10px auto 0px auto

    .btn-follow-user.unfollow
      background: url("/assets/heart-blue.png") no-repeat 5% center #d4d8dc
      background-size: 20%
  .recommended_projects
    margin-left: 0px
  .recommended_person
    padding: 20px
    border-bottom: 1px solid #c6d0db
    .person-img
      margin-right: 10px
      margin-top: 5px
    .user-circle-image
      height: 50px
      width: 50px
      background-size: cover !important
    .name
      color: #e44f65
      height: 20px
      overflow: hidden
      font-size: 16px
    .location
      color: #969fab
      height: 20px
      overflow: hidden
      font-size: 13px
    .headline
      color: #969fab
      height: 20px
      overflow: hidden
      margin-top: -2px
      width: 220px
  .load_more_div
    margin: 10px 0px
    .load_more
      padding: 2px 10px
      font-size: 13px
      border-radius: 3px

.activities_container
  .activity
    padding: 0px
    width: 510px
    position: relative
    margin-bottom: 30px
    margin-left: 50px
    background: white
    border-top: 2px solid #c6d0db
    border-bottom: 2px solid #c6d0db
    .activity_owner
      position: absolute
      top: 5px
      left: -35px
    .activity_summary
      padding: 20px
      margin-left: 15px
      color: #a0a8b1
      font-size: 15px
    .activity_main
      padding: 0px 20px 20px 20px
      font-size: 16px
      color: #82848d
      line-height: 25px
      word-wrap: break-word
    .comment-img
      width: 100%
      img
        max-width: 510px
        width: 510px
    .comment-url
      padding: 0px 20px 20px 20px
      word-wrap: break-word
    .comment-video
      iframe
        height: 250px
        width: 100%
    .comment-actions, .project-actions, .event-actions
      padding: 15px
      background: url(/assets/comment-actions-bg.png) repeat-x
      .like-comment, .like-project, .like-event
        padding-right: 10px
        .likes-count
          width: 20px
        .heart-blue
          margin-right: 10px
    .time-ago
      font-size: 12px
      font-style: italic
      color: #a0a8b1
      padding-left: 10px

  .activity.endorsement
    .expertise
      margin-top: 10px
      font-size: 12px
      .badge
        font-style: normal
        background: #d7daed
        color: #82848d
        margin-bottom: 5px
        margin-left: 4px

#isotope_container
  .item
    width: auto
    max-width: 130px
    margin: 2px
    .activity_summary
      font-size: 10px
      font-style: italic
  .item.comment, .item.blog
    max-width: 230px !important
    width: 230px
    iframe
      width: 220px
    .img-container
      height: 150px
      background-size: cover !important


#dashboard_projects
  
  .projects-filter
    margin-bottom: 20px
    a
      margin-left: 20px
  .project
    position: relative
    width: 270px
    margin-left: 15px
    float: left
    margin-bottom: 20px
    -webkit-box-shadow: 0px 0px 19px -7px black
    box-shadow: 0px 0px 19px -7px black
    -moz-box-shadow: 0px 0px 19px -7px black
    .project-head
      height: 160px
      .project-backdrop
        position: absolute
        width: 270px
        height: 160px
        z-index: 0
        background-size: cover !important
      .backdrop-cover
        width: 270px
        height: 160px
        position: absolute
        background: rgba(35, 45, 83, 0.6)
      .project-title, .project-headline
        padding: 0px 20px
        position: relative
        font-size: 17px
      .project-headline
        position: relative
        color: white
        font-size: 12px
        margin-top: 5px
        height: 80px
        overflow: hidden
      .project-title
        padding-top: 20px
        color: white
    .project-summary
      background: white
      height: 150px
      position: relative
      .message
        width: 150px
        height: 130px
        padding: 10px
        .status
          margin-left: 10px 
          .status-text
            text-transform: uppercase
            font-weight: bold
            color: black 
        a:hover
          text-decoration: none
          color: black
        .btn-manage, .btn-message
          position: absolute
          bottom: 0px
          color: #515961

      .roles-summary
        -webkit-box-shadow: 8px -100px 305px -134px black inset
        box-shadow: 8px -100px 160px -134px black inset
        -moz-box-shadow: 8px -100px 305px -134px black inset
        width: 100px
        height: 150px
        .role-circle-container
          top: -30px
          left: 15px
        .circle-measure
          border-radius: 0px
          border-top-left-radius: 30px
          border-top-right-radius: 30px
        .circle-measure-0
          top: 0px
          border-bottom-left-radius: 30px
          border-bottom-right-radius: 30px
        .circle-measure-1
          top: 2px
          border-bottom-left-radius: 10px
          border-bottom-right-radius: 10px
        .role-count
          white-space: nowrap
          font-size: 12px
          margin-top: 15px
          color: $role-circle-border
          font-weight: bold
        .applications-summary
          position: relative
          font-size: 12px
          -webkit-box-shadow: 8px -44px 168px -70px #7e878e inset
          box-shadow: 8px -44px 168px -70px #7e878e inset
          -moz-box-shadow: 8px -44px 168px -70px #7e878e inset
          top: -45px
          padding: 10px 0px


  .manage_project
    .project-head
      background: url(/assets/dashboard-section-bg.png) repeat-x
    .project-title
      width: 440px
      max-height: 255px
    .title
      padding: 20px
      font-size: 30px
      color: white
      overflow: hidden
      line-height: 40px
    .manage-btns
      padding: 0px 30px
      a
        color: #b1b5c2

    #project-fans
      width: 255px
      position: relative
      background: url('/assets/fans-placeholder.png') no-repeat
      background-size: 100% 100%
      height: 255px
    .project-fans-tiles
      .fan-img
        .back-img
          width: 85px
          height: 85px
          background-size: cover !important
      .empty-grey-tile
        width: 85px
        height: 85px
      .fans-extra-count
        font-size: 25px
        margin-top: 15px
        margin-left: -5px
        margin-bottom: 5px
      .grey-top-line
        margin-top: 12px
    .project-roles-filled
      font-size: 17px
      width: 185px
      color: white
      padding-top: 10px
      .role-circle-container
        margin-top: 10px
        margin-bottom: -15px
        .role-circle
          width: 70px
          height: 70px
        .circle-fill
          width: 60px
          height: 60px
          border: 0px
          left: 8px
          top: 8px
        .circle-measure
          top: 8px 
          width: 70px
          border-radius: 0px
          background: url(/assets/dashboard-section-bg.png) repeat
      .message-participants
        margin-left: 20px
        font-size: 14px
        padding-left: 5px
        padding-right: 5px
        width: 140px
    #project-roles-main-container
      #project-roles-circles
        background: #d1d3da
        padding-top: 20px
    .super-role-circle
      color: #1691de
      text-align: center
      width: 140px
      margin-left: 25px
      .circle-measure
        top: 0
        width: 60px
        left: 3px
        border-radius: 0px
        background: #d1d3da
      .circle-fill
        border: 3px solid #d1d3da
        top: 5px
        left: 5px
      .role-count
        margin-top: 20px
    .super-role-filter
      margin: 5px
    .sub_roles_filters
      margin-left: 20px
      margin-top: 20px
      .sub-role-filter
        margin-left: 10px

    .role_application
      margin-left: 30px
      margin-bottom: 10px
      margin-top: 30px
      width: 250px
      position: relative
      -webkit-box-shadow: 0px 0px 19px -7px black
      box-shadow: 0px 0px 19px -7px black
      -moz-box-shadow: 0px 0px 19px -7px black
      .user-cover-photo
        height: 110px
        width: 250px
        background-size: cover !important
      .backdrop-cover
        height: 110px
        width: 250px
        position: absolute
        background: black
        opacity: 0.5
        filter: alpha(opacity=50)
      .applicant-photo
        width: 90px 
        border: 5px solid white
        position: absolute
        top: 40px
        left: 75px
        height: 90px
        background-size: cover !important
        box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.4), 0 0 2px 2px rgba(0, 0, 0, 0.1)
        -webkit-box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.4), 0 0 2px 2px rgba(0, 0, 0, 0.1)
      .applicant-details 
        padding-top: 30px
        width: 100%
        .name
          a, a:hover
            font-size: 18px
            color: #4c4f5b
        .location
          .location-img-blue
            display: inline-block
            position: relative
            top: 6px
          font-size: 12px
          margin-top: -5px
          color: #81898f
        .talent
          font-size: 12px
          color: #81898f
      .white
        background: white
      .about-applicant
        background: white
        width: 160px
        height: 145px
        .about-text
          padding: 10px
          font-size: 12px
          height: 82px
          overflow: hidden
          line-height: 15px
          color: #abacaf
        .actions
          margin-top: 7px
          .action
            margin-left: 10px
            width: 40px
            height: 25px
          .message-applicant
            margin-top: 5px
            background: url(/assets/envelop-dark-grey.png) no-repeat
          .accept
            background: url(/assets/green-tick.png) no-repeat
          .reject 
            background: url(/assets/red-cross.png) no-repeat
      .applicant-reputation
        padding-top: 20px
        width: 90px
        height: 145px
        background: #f2f3f3
        background: -webkit-linear-gradient(top, #fefefe, #e7e8e9)
        background: -moz-linear-gradient(top, #fefefe, #e7e8e9)
        background: -o-linear-gradient(top, #fefefe, #e7e8e9)
        background: -ms-linear-gradient(top, #fefefe, #e7e8e9)
        background: linear-gradient(top, #fefefe, #e7e8e9)
        -webkit-box-sizing: border-box
        -moz-box-sizing: border-box
        -ms-box-sizing: border-box
        box-sizing: border-box
        .fans
          margin-top: 2px
          color: #515961
          .fans-count
            font-size: 20px !important
          span
            display: block
            text-align: center
            font-size: 10px
        .buttons
          position: absolute
          bottom: 0px
          .btn-custom:hover, .btn-custom
            display: block
            text-decoration: none
            font-size: 14px
            center #d4d8dc
            margin-top: 2px
            width: 80px
            min-width: 30px
            margin-left: 3px
            color: #515961 !important
            padding: 2px 2px !important
            text-shadow: none
            border-radius: 3px
          .btn-view-cover, .btn-view-cover:hover 
            padding-left: 10px
            padding-right: 10px
        .flw
          margin-bottom: 5px

    .manage_project_filter_by
      margin-left: 20px
      color: #969fab
      margin-bottom: 10px
        




  .role-circles  
    margin-left: 0px
    text-align: left
    padding-left: 30px
    margin-top: 20px
    
    .circle-wrapper
      margin: 20px 0px 0px 5px
  .role-circle-container
    display: inline-block
    position: relative
    width: 60px
    height: 110px
    
    .role-title
      position: relative
      float: left
      top: -20px
      width: 65px
      z-index: 10
      white-space: nowrap
      text-align: center
      overflow: hidden
      text-overflow: ellipsis
      font-size: 11px
    
    .circle-measure    
      top: 5px
      width: 50px
      z-index: 8
      background-color: #EAEDF0
      position: absolute
      left: 8px
      border-radius: 30px
      background: white
    
    .role-count
      position: relative
      float: left
      top: 50px
      width: 65px
      text-align: center
      font-size: 12px

    
    .role-circle
      border: 3px solid $role-circle-border
      background-color: transparent
      border-radius: 45px
      width: 60px
      height: 60px
      z-index: 9
      position: absolute
    
    .circle-fill
      border: 6px solid white
      background-color: $role-circle-border
      border-radius: 45px
      width: 50px
      height: 50px
      position: absolute
      top: 2px
      left: 2px
      z-index: 7
      box-shadow: 17px -35px 50px -42px black inset
      -moz-box-shadow: 17px -35px 50px -42px black inset
      -webkit-box-shadow: 17px -35px 50px -42px black inset

#dashboard_events
  .events-filter
    margin-bottom: 20px
    a
      margin-left: 20px
  .event
    position: relative
    width: 270px
    margin-left: 20px
    float: left
    margin-bottom: 20px
    -webkit-box-shadow: 0px 0px 19px -7px black
    box-shadow: 0px 0px 19px -7px black
    -moz-box-shadow: 0px 0px 19px -7px black
    .event-head
      height: 150px
      .event-backdrop
        position: absolute
        width: 270px
        height: 150px
        z-index: 0
        background-size: cover !important
      .backdrop-cover
        width: 270px
        height: 150px
        position: absolute
        background: black
        opacity: 0.5
        filter: alpha(opacity=50)
      .event-title, .project-headline
        padding: 10px 60px 0px 20px
        color: white
        position: relative
        font-size: 17px
      .event-headline
        position: relative
        color: #d7daed
        font-size: 12px
        margin-top: 5px
        height: 80px
        padding: 0px 20px
        overflow: hidden
      .event-location
        position: relative
        color: #f1f1f2
        padding: 10px 60px 0px 20px
        .location-img-blue
          display: inline-block
          background-size: 100% 100%
          width: 11px
          height: 16px
          top: 2px
          margin-right: 5px
          position: relative
      .date
        text-transform: uppercase
        padding: 10px
        background: black
        color: #a5a8b1
        text-align: center
        position: absolute
        top: 0px
        right: 0px
        .day
          font-size: 18px
        .month
          font-size: 12px

    .event-summary  
      background: white
      height: 165px
      position: relative
      a:hover, a
        text-decoration: none
        color: #515961
      .gradient
        -webkit-box-shadow: 8px -100px 305px -200px black inset
        -moz-box-shadow: 8px -100px 305px -200px black inset
        -moz-box-shadow: 8px -100px 305px -200px black inset
      .event-actions
        padding: 10px
        margin-top: -10px
        width: 93%
        color: #515961
        .btn-edit
          min-width: 20px
          width: 100px
          border-radius: 4px
          padding-top: 4px
          padding-bottom: 4px
        .btn-message-attendees
          min-width: 20px
          width: 135px
          border-radius: 4px
          padding-top: 4px
          padding-bottom: 4px

      .attendees-details
        padding: 10px
        width: 95%
        .attendees
          margin-top: 8px
          font-size: 11px
          letter-spacing: 2px
          width: 160px
          color: #7c7f8c
        .attendees-summary
          color: #4c4f5b
          width: 80px
          font-size: 10px
          line-height: 15px
          .count
            font-size: 30px
            margin-bottom: 10px
      .event-popularity
        padding: 5px
        color: #81898f
        .likes, .comments
          margin-right: 10px
          .icon
            margin-right: 5px
            margin-top: 3px
      .event-owner
        margin-top: 10px
      .owner-img
        width: 45px
        margin-left: 10px
      .owner
        font-size: 13px
        width: 140px
        color: #82848d
        margin-left: 15px
      .owner-name
        margin-top: 2px
        a, a:hover
          color: #e44f65
          font-size: 15px
      .btn-unattend
        min-width: 40px
        width: 90px
        font-size: 14px
        color: white
        a:hover
          color: white

      .event-attendee-pic
        width: 24px
        height: 24px
        margin-right: 7px
        margin-top: 4px

#dashboard_settings
  margin-top: 20px
  margin-left: 20px

/* Messages Sections */

#messages
  .messages-main
    position: relative
  .conversations-filter
    position: absolute
    top: 25px
    z-index: 5
    right: 0
    width: 300px 

.conversations_list
  height: 600px
  overflow-y: scroll
  .conversation
    cursor: pointer
    position: relative
    border-top: 1px solid $divider-border
    padding: 17px 0px
    .conv-sender
      margin-left: 15px
      margin-right: 10px
    .notno
      color: white
      top: 12px
      left: 50px
    .msg-preview
      width: 195px
      overflow: hidden
      white-space: nowrap
      text-overflow: ellipsis
      color: #737378
    .conv-time
      position: absolute
      right: 20px
      font-size: 10px
      color: #969fab

  .conversation.active
    background-color: #43464e
    color: white

  .conversation.un_read:not(.active)
    background-color: #e3e8f8
    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#c2c6d4), to(#e3e8f8))

    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #e3e8f8, #c2c6d4)

    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #e3e8f8, #c2c6d4)

    /* IE 10 */
    background: -ms-linear-gradient(top, #e3e8f8, #c2c6d4)

    /* Opera 11.10+ */
    background: -o-linear-gradient(top, #e3e8f8, #c2c6d4)
  .conversation:not(.active)

    background-color: #E6E6E6
    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E6E6E6), to(#FDFDFD))

    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #FDFDFD, #E6E6E6)

    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #FDFDFD, #E6E6E6)

    /* IE 10 */
    background: -ms-linear-gradient(top, #FDFDFD, #E6E6E6)

    /* Opera 11.10+ */
    background: -o-linear-gradient(top, #FDFDFD, #E6E6E6)

.empty_trash
  font-size: 13px
  cursor: pointer

.conversations-summary
  position: relative
  z-index: 2
  background: #EAEDEF
  padding: 20px
  font-size: 22px
  color: #969fab

.conv-action
  position: absolute
  top: 5px
  left: 5px
  i
    color: #737378

.delete_conversation
  display: inline-block
  height: 13px
  width: 12px
  background: url(/assets/grey-trash.png) no-repeat
  background-size: 100% 100%

.messages_container
  height: 900px
  background: white
  padding-top: 20px
  position: relative
  color: #969fab
  -webkit-box-shadow: 27px -50px 78px 10px black
  -moz-box-shadow: 27px -50px 78px 10px black
  -moz-box-shadow: 27px -50px 78px 10px black

.conversation-summary
  text-align: left
  margin-left: 20px
  font-size: 22px
  color: #969fab
  width: 520px
  line-height: 25px

.messages_list
  max-height: 540px
  position: relative
  overflow: scroll
  margin-top: 35px
  .message
    position: relative
    margin-top: 15px
    text-align: left
    width: 540px
  .message-time
    position: absolute
    right: 20px
    font-size: 10px
    color: #969fab
  .message-sender
    margin-left: 20px
    margin-right: 20px
  .send-pm-div
    margin-left: 10px
  .msg-body
    width: 450px
    border-bottom: 1px solid $divider-border
    padding-bottom: 20px
    color: #737378
.reply-div
  margin-top: 30px
  .reply-text
    text-align: left
    margin-left: 85px
    font-size: 22px
    color: #969fab
  .message_please_wait
    display: none
  .reply-btn
    clear: both
    width: 100px
    margin-left: 85px
  .reply-area
    margin-top: 30px
    .user-circle-image
      margin-left: 20px
      margin-right: 15px
    #new_message
      height: 90px !important
      width: 430px
      -moz-box-shadow: 0px 0px 12px -1px #c8d2de inset
      -webkit-box-shadow: 0px 0px 12px -1px #c8d2de inset
      box-shadow: 0px 0px 12px -1px #c8d2de inset
      border: 1px solid #d0d7df
      padding: 10px

.projects-display-tabs
  overflow: hidden

.introjs-overlay
  background: black !important
  opacity: 0.8 !important
.introjs-helperLayer
  border: none !important
  .introjs-arrow.top
    display: none !important
.introjs-tooltip
  background: transparent !important
  box-shadow: none !important
  font-size: 45px
  color: white
  line-height: 43px
  max-width: none
  p.text
    font-size: 22px
    font-weight: 300
    margin-top: 18px
    line-height: 23px
  p.text.no-margin
    margin-top: 0px !important

  .introjs-tooltipbuttons
    position: absolute
    bottom: 30px
    right: 5px
  .introjs-button
    font-size: 14px
    border-radius: 5px
    border: 2px solid white
    color: white
    text-shadow: none
    text-align: center
    min-width: 55px
    margin-right: 5px
    text-transform: uppercase
    font-weight: 300
  .introjs-nextbutton, .introjs-prevbutton
    background: #0050AB !important
    text-decoration: none !important
  .introjs-disabled
    display: none !important
  .introjs-skipbutton
    background: #B22323

.empty-div
  height: 1px !important
  width: 100%
  position: fixed
  top: 0px
.main-intro
  position: fixed !important
  top: 300px !important
  left: 50% !important
  margin-left: -265px
  margin-top: auto
  width: 390px
  max-width: none !important
  .introjs-tooltipbuttons
    position: relative !important

.logo-intro
  top: 60px !important
  left: 15px !important
  width: 280px
  height: 500px
  border-radius: 0px !important
  border-right: 5px solid white
  .introjs-button
    float: right
  
.right-links-intro
  top: 40px !important
  right: 250px !important
  width: 235px
  border-top: 5px solid white
  border-radius: 0px !important
  border-left: 5px solid white
  height: 500px !important
  padding-left: 30px !important

.projects-main-intro
  position: fixed !important
  top: 195px !important
  left: 50% !important
  margin-left: -355px
  margin-top: auto
  width: 690px
  max-width: none !important
  font-size: 35px !important
  .introjs-tooltipbuttons
    position: relative !important
  .bordered-div
    height: 130px
    width: 100%
    border-right: 5px solid white
    border-bottom: 5px solid white
    margin-bottom: 10px
  p
    font-size: 22px !important
    line-height: 23px
    a
      color: white !important

.profile-link-intro
  top: -10px !important
  right: 250px !important
  width: 475px
  max-width: none !important
  border-radius: 0px !important
  height: 300px
  text-align: right
  padding-left: 30px !important
  font-size: 35px !important
  p
    font-size: 22px !important
    line-height: 23px
  .introjs-skipbutton
    background: #0050AB
  .introjs-button
    float: right


