<div id='send_message_generic_modal' class="modal hide fade span9">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 class='header-text'>
      Send Message
    </h3>
  </div>

    <div class="modal-body center-text">

      <input type='hidden' name='message[recipients]' id='message_recipients'>

      <label for='message_subject'>Subject</label>
      <input type='text' name='message[subject]' id='message_subject'>
     

      <div class="input text required message_body">
        <label class="text required" for="message_body">
          Message
        </label>
        <textarea cols="40" id="message_body" required="required" rows="5" placeholder='Your message here'></textarea>
      </div>

    </div>

    <div class="modal-footer">
      <button class="btn btn-primary btn-send-message-generic" >
        Send Message
      </button>
      <a href="#" class="btn" data-dismiss="modal">Close</a>
    </div>
</div>