.well
	%h1 Conversations
	.well
		%h2 Inbox
		%ul= render mailbox.inbox
	.well
		%h2 Sentbox
		%ul= render mailbox.sentbox
	.well
		%h2 Trash
		%ul= render mailbox.trash

	= link_to 'Start Conversation', :new_conversation, {:class => 'btn'}
