<script type="script/template" id='endorsement_template'>

  <div class='endo-main-container'>
    <span class='quo-left'>&ldquo;</span>
    <div class='endorser pull-left'>
      <div class='name medium'>
        <%%= sender.name %>:
      </div>  
    </div>

    <div class='endo-details pull-left'>
      <div class='message light'>
        <%%= message %><span class='quo-right'>&rdquo;</span>
      </div>
    </div>
    
  </div>

</script>