<script type="script/template" id='endorsements_template'>

  <div class='span4 shrink-div head'>
    <span class="pull-left">
      <h3>Endorsements</h3>
    </span>
    
    <% if current_user && current_user != @user %>
      <a class='btn-endorse btn-show-all pull-right action-div' data-can='<%= current_user.friends.include?(@user)%>' data-can2='<%= current_user.followers.include?(@user) %>' >
      </a> 
    <% end %>
    
    <div class='clearfix'></div>
  </div>

  <div class="span4">
    <div class="row clearfix">
      <div class="grey-line-divider"></div>
    </div>
  </div>

  <div class='row' id='endorsements'>
    
  </div>

</script>