<script type="script/template" id='endorsements_template'>

  <div class='span4 shrink-div head'>
    <span class="pull-left">
      <h3>Endorsements</h3>
    </span>
    <span class="btn-show-all pull-right"></span>
    <div class='clearfix'></div>
  </div>

  <div class="span4">
    <div class="row clearfix">
      <div class="grey-line-divider"></div>
    </div>
  </div>

  <div class='row' id='endorsements'>
    
  </div>

</script>