<div class="about-me">
  <div class="row-fluid">
    <div class="span10 offset1 about-me-title title">
      <h1>About Me:</h1>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span10 offset1 about-text drawer-content">
      <%= simple_format @user.about %>
    </div>
</div>
<div class="triangle-tab"></div>