  <div class='user-talent'>
    
    <div class="control-group">
      <div class="controls">
        <h5>Agent</h5>
      </div>
    </div>

    <% if false %> <!-- Exclude Fields -->
      <div class="control-group">
        <div class="controls">
          <%= talent.text_area :description, :class => 'textarea', :rows => "5", :placeholder => 'Tell us about your experience as an agent' %>
        </div>
      </div>
    <% end %>

    <div class="control-group">
      <div class="controls">
        <%= f.text_field :managing_company, :class => 'textarea', :placeholder => 'Name of the company you manage' %>
      </div>
    </div>    

    <div class="control-group">
      <div class="controls">
        <%= talent.check_box :_destroy, :class=>'destroy_checkbox', :style=>'display:none;' %>
        <!-- <a href='#' class='remove_entity' data-toRemove='.user-talent'>Remove this role</a> -->
      </div>    
    </div>
  </div>