<div class="span6">
                <div class="well">
                  <h3>
                      Past Projects
                  </h3>
                   <table class="table table-striped table-hover">								
											  <tbody>
													<tr>
													<td><b>The Dark Knight Rises (2012):</b> Bane</td>
													</tr>
													<tr>
													<td><b>Lawless (2012):</b> Forrest Bondurant</td>
													</tr>
													<tr>
													<td><b>Warrior (2012):</b> Tommy Conlon</td>
													</tr>	
											  </tbody>
										</table>
                </div>
              </div>