<div class="role-title">
  <div class="span10 offset1 role-title title">
    <h1>My Reel:</h1>
  </div>
</div>
<div class="row-fluid">
  <div class="span10 offset1 role-description drawer-content">
    <div class="row-fluid reel-slider">
      <% comment = "3d Reel Slider" %>
      <div class="row-fluid">
        <div class="royalSlider rsDefault">
          
          <% @user.photos.each do |photo| %>
            <img src="<%= photo.image.url(:large) %>" />
          <%end%>
          
          <% @real_videos.each_with_index do |video| %>
            <img src="<%= video.thumbnail_large %>" data-rsVideo="<%= video.url %>" />
          <% end %>    
        </div>  
      </div>
    </div>
  </div>
</div>