<div class="role-title">
  <div class="span10 offset1 role-title title">
    <h1>My Work as a <%= @user.talents.second.name %></h1>
  </div>
</div>
<div class="row-fluid">
  <div class="span10 offset1 role-description">
    <%= simple_format @user.talents.second.description%>
  </div>
</div>
  
