
<div id="blogs">
  <div class="row-fluid">
    <div class="span10 offset1 drawer-content">
  
      <% if @user.blogs.present? %>      
        <%= render(:partial => '/blogs/blog', :formats => [:html], :locals => {:blogs => @user.blogs}) %>
      <% end %>
  
    </div>
  </div>
</div>