<% if @errors && @errors.kind_of?(Array) %>
	$('.change_password_form .errors').append("<div class='alert alert-error'><button type='button' class='close' data-dismiss='alert'>&times;</button><br/><%= @errors.join(',') %><br/></div>")
<% elsif @errors && @errors.kind_of?(String) %>
	$('.change_password_form .errors').html("<div class='alert alert-error'><button type='button' class='close' data-dismiss='alert'>&times;</button><br/><%= @errors %><br/></div>")
<% else %>
	$('.change_password_form .errors').html("<div class='alert alert-success'><button type='button' class='close' data-dismiss='alert'>&times;</button><br/>Password changed successfully.<br/></div>")
<% end %>
$('.change_password_form')[0].reset();