<%= javascript_include_tag "users/users_manifest" %>
<%= stylesheet_link_tag "users/manifest.css" %>

<%- model_class = @user.class -%>
<section class='section'>
  <div class='container user-form'>

    <ul class='nav nav-tabs'>
      <li class='active'>
        <a href="#step_1" data-toggle='tab'>Info</a>
      </li>
      <li>
        <a href="#step_2" data-toggle='tab'>Roles</a>
      </li>
      <li>
        <a href="#step_3" data-toggle='tab'>Media</a>
      </li>
    </ul>

    <div>
      <div class='tab-content'>
        <div class='tab-pane active' id='step_1'>
          <%= render :partial => 'step_1_form' %>
        </div>
        <div class='tab-pane' id='step_2'>

        </div>
      </div>
    </div>

	</div>
</section>
