<%= javascript_include_tag "users/users_manifest" %>
<%= stylesheet_link_tag "users/manifest.css" %>

<%- model_class = @user.class -%>
<section class='section'>
  <div class='container user-form'>
		<%= render :partial => 'form' %>
	</div>
</section>
