.container.footer
  .row
    .col-xs-6
      = image_tag "footer_logo.png"
    .col-xs-6
      .row
        .col-xs-3
          %h4 Learn
          %ul.list-unstyled
            %li
              %a{href: "#"}
                Blog
            %li
              %a{href: "#"}
                Labs
            %li
              %a{href: "#"}
                Glossary
            %li
              %a{href: "#"}
                FAQ
        .col-xs-3
          %h4 About
          %ul.list-unstyled
            %li
              %a{href: "#"}
                Our Story
            %li
              %a{href: "#"}
                Opportunities
            %li
              %a{href: "#"}
                Privacy
            %li
              %a{href: "#"}
                Terms
        .col-xs-3
          %h4 Community
          %ul.list-unstyled
            %li
              %a{href: "#"}
                Contact Us
            %li
              %a{href: "#"}
                Partners
            %li
              %a{href: "#"}
                Funding
            %li
              %a{href: "#"}
                Distribution
        .col-xs-3
          %h4 Social
          %ul.list-unstyled
            %li
              %a{href: "#"}
                Facebook
            %li
              %a{href: "#"}
                Twitter
            %li
              %a{href: "#"}
                LinkedIn
            %li
              %a{href: "#"}
                Pinterest
            %li
              %a{href: "#"}
                Tumbir
  .clearfix
  .row
    .col-xs-12
      %hr
      %p.copyright.text-right
        © Copyright 2014 Filmzu. All Rights Reserved.