.container.footer
  .row
    .col-xs-6
      = image_tag "footer_logo.png"
    .col-xs-6
      .row
        .col-xs-3
         
        .col-xs-3
         
        .col-xs-3
         
        .col-xs-3
          %h4 Social
          %ul.list-unstyled
            %li
              %a{href: "http://facebook.com/Filmzu"}
                Facebook
            %li
              %a{href: "http://twitter.com/Filmzu"}
                Twitter
            %li
              %a{href: "http://www.linkedin.com/company/filmzu"}
                LinkedIn
            %li
              %a{href: "http://www.pinterest.com/filmzu/"}
                Pinterest
            %li
              %a{href: "http://blog.filmzu.com"}
                Our Blog
  .clearfix
  .row
    .col-xs-12
      %hr
      %p.copyright.text-right
        © Copyright 2014 Filmzu. All Rights Reserved.