#login_modal.modal.modal-1.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-body
        .row
          .modal-close
            %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
          .col-xs-6.left
            %h3 Log In with Password
            %p.subtitle Login to your account using password!
            = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :method => :post) do |f|

              .form-group.form-group-help
                %label Email Address
                = f.text_field :email, :validate => { :presence => true }, :placeholder => 'Email address', :class => 'form-control'
              
              .form-group
                %label Password
                = f.password_field :password, :validate => { :presence => true }, :placeholder => 'Password', :class => 'form-control'
                = f.submit "Log in", :class => 'button btn btn-blue btn-full-width btn-lmd amt-3'
            
              %p.help-modal
                Don't have an Account?
              %a.modal-link{"data-target" => "#singup_client_modal", "data-toggle" => "modal", "data-dismiss" => "modal"}
                Sign Up
          .col-xs-6.right
            %h3 Log In with Facebook
            %p.subtitle Fast and easy, and we don't post without permission
            %a.btn.btn-blue.btn-full-width.btn-modal-sn.snb-1{href: "#"}
              %i.fa.fa-facebook
              %span.btn-text
                Log In With Facebook
              .clearfix