%nav.navbar.navbar-default{role: "navigation"}
  .container
    .navbar-header
      %a.navbar-brand{href: root_path}
        = image_tag "new_logo.png"
      %form.navbar-form.navbar-left{role: "search"}
        .form-group
          %input.form-control{placeholder: "Search", type: "text"}
      %ul.nav.navbar-nav
        %li
          %a{href: "#"}
            %span.project
            Projects
        %li
          %a{href: "#"}
            %span.user
            People
      %a.btn.btn-red.btn-nb.pull-right{} Coming Soon