%nav.navbar.navbar-default{role: "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{href: root_path}
        = image_tag "new_logo.png"
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %form.navbar-form.navbar-left{role: "search"}
        .form-group
          %input.form-control{placeholder: "Search", type: "text"}
      %ul.nav.navbar-nav
        %li
          %a{href: "#"}
            %span.project
            Projects
        %li
          %a{href: "#"}
            %span.user
            People
      %a.btn.btn-red.btn-nb.pull-right{"data-target" => "#singup_modal", "data-toggle" => "modal"} Create an Account
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{"data-target" => "#login_modal", "data-toggle" => "modal"}
            Sign in
