    <!-- Main Content -->
    <div id='content' role='main'>
      <section class='section alt' id='promo'>
  <div class='container'>
    <div class='carousel slide' id='myCarousel'>
      <!-- Carousel items -->
      <div class='carousel-inner'>
        <div class='active item'>
          <div class='row-fluid'>
            <div class='span7'>
              <div class='hero-unit'>
                <h1>Reviving Independent Film</h1>
                <p>Welcome, A pretty noble goal, but we are young and ready to disrupt Hollywood and the film industry!</p>
<p>Sign up and we'll let you know when we launch</p>
<div class="input-append">
  <input class="span6" placeholder="Email Address" id="appendedInputButtons" type="text">
  <button class="btn" type="button">Submit</button>
</div>

              </div>
            </div>
            <div class='span5'>
              <img alt='imac' class='pull-right' src='http://wbpreview.com/previews/WB006P073/images/assets/imac.png' />
            </div>
          </div>
          <div class='row-fluid'>
            <ul class="ch-grid">
							<div class='span4'>
              	<li>
						        <div class="ch-item ch-img-1">
						            <div class="ch-info">
						                <h3>Caball Users</h3>
						                <p>Caball</p>
						            </div>
						        </div>
						    </li>
            </div>
            <div class='span4'>
              <li>
					        <div class="ch-item ch-img-1">
					            <div class="ch-info">
					                <h3>Caball Projects</h3>
					                <p>Shh</p>
					            </div>
					        </div>
					    </li>
            </div>
            <div class='span4'>
              <li>
					        <div class="ch-item ch-img-1">
					            <div class="ch-info">
					                <h3>Apply for Positions</h3>
					                <p>It's a secret!</p>
					            </div>
					        </div>
					    </li>
            </div>
          </div>
        </div>
        
      <!-- Carousel nav -->
      <a class='carousel-control left' data-slide='prev' href='#myCarousel'>&lsaquo;</a>
      <a class='carousel-control right' data-slide='next' href='#myCarousel'>&rsaquo;</a>
    </div>
  </div>
</section>

<section class='section'>
  <div class='container'>
    <div class='page-header'>
      <h1>
        Who are we?
        <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</small>
      </h1>
<div class='row-fluid'>
	<!-- <div class ="span1"></div> -->
	<div class ="span12">
		<p>Content here</p>
		<ul class="ch-grid">
		    <li>
		        <div class="ch-item ch-img-1">
		            <div class="ch-info">
		                <h3>Use what you have</h3>
		                <p>by Angela Duncan <a href="http://drbl.in/eOPF">View on Dribbble</a></p>
		            </div>
		        </div>
		    </li>
		    <li>
		        <div class="ch-item ch-img-2">
		            <div class="ch-info">
		                <h3>Common Causes of Stains</h3>
		                <p>by Antonio F. Mondragon <a href="http://drbl.in/eKMi">View on Dribbble</a></p>
		            </div>
		        </div>
		    </li>
		    <li>
		        <div class="ch-item ch-img-3">
		            <div class="ch-info">
		                <h3>Pink Lightning</h3>
		                <p>by Charlie Wagers <a href="http://drbl.in/ekhp">View on Dribbble</a></p>
		            </div>
		        </div>
		    </li>
		</ul>
		
		
		</div>
		</div>
    </div>
	</div>
</section>