.banner
  .container.text-center
    .row
      %h1 Your Vision. Your Video.
      %h3 made exclusively for you
      %form.form-inline#mc-embedded-subscribe-form{:action => "http://filmzu.us6.list-manage2.com/subscribe/post?u=f7f6702bd4e503b98fda073a0&amp;id=122bcc356e", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :target => "_blank"}
        %input#mce-EMAIL.input-small.required.email{:name => "EMAIL", :type => "email", :value => "", placeholder: "email"}/
        %input#mc-embedded-subscribe.btn.btn-orange.btn-slg{:name => "subscribe", :type => "submit", :value => "Submit"}/
.steps
  .container
    .row
      %h2.text-center How it Works
      .steps-container
        .col-xs-12
          .row
            .col-xs-4.text-center
              = image_tag "step1.png"
              %h3 List Your Project
              %p It only takes 3 minutes to post your project and details
            .col-xs-4.text-center
              = image_tag "step2.png"
              %h3 Receive Proposals
              %p Within 24 hours have proposals from the best talent in the industry
            .col-xs-4.text-center
              = image_tag "step3.png"
              %h3 Get Your Video
              %p Choose your favourite, and get your vision made into video. 
        .clearfix