<%= stylesheet_link_tag "home_page.css" %>
<%= stylesheet_link_tag "projects/index.css" %>
<%= stylesheet_link_tag "users/index.css" %>
<!-- We love people who view source. If you're looking for more details please visit our Facebook page on http://www.facebook.com/Filmzu or Twitter @TheFilmzu.  -->
<!--========= Attract top starts======------>
<div class="attractwrap">
  <div class="attractshadow">
  <div class="attract maincontain container">
    <div class="row">
      <div class="toptext span10 offset1 medium text-center">Freedom for filmmakers.</div>
      
      <div class='midtext text-center'>
        <div class='center-it light'>
          Filmaking requires a lot of people with different talents.<br/>Filmzu takes the headache out of searching for Film Professionals by bringing them all to one place. See how easy Filmzu makes creating video content.
        </div>
      </div>
      
							<!-- Begin Signup Form -->	
							<div class="text-center">							
							<form action="http://filmzu.us6.list-manage.com/subscribe/post?u=f7f6702bd4e503b98fda073a0&amp;id=c0f4907d41" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

							<br>
							<div class="input-append">
							<input type="email" value="" name="EMAIL" class="span6 email" id="mce-EMAIL" placeholder="Email Address" required>
							<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn">
							</div>
								<label for="mce-EMAIL"><div class='center-it light'>
				        We are currently in closed Alpha testing, please sign-up and we will let you know when we launch</div></label>
							</form>
							</div>
							<!--End Signup Form -->
											

      <div class="wtchvideo offset4 text-center" data-toggle='modal' data-target='#video-modal'>
        <div class="wtchvideobtn btn">
          <div class="playpic">
            <img src="/assets/wtchbtn.png" alt="" />
          </div>
          <div class="wtchtext text-left">
            <div class="wtchh1 medium">Watch the Video</div>
            <div class="wtchexp light">To see how Filmzu gives you the tools to create the film you imagined</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
<!--========= Attract top end======------>
<% if false %><!--========= Exclusion starts======------>

<!--========= attract info starts======------>
<div class="attractinfowrap">
  <div class="attractinfo maincontain container text-center">
    <div class="row">
    
      <article class="span4">
        <div class="atrctinfoimg">
          <img src="/assets/ppl.png" alt="" />
        </div>
        <div class="light head">Donec vulputate Fermentum nisi</div>
        <div class="infocnt regular">
          <p>Staff your ne project with the talented people that want to be part of your film</p>
        </div>
      </article >
      
      <article class="span4">
        <div class="atrctinfoimg">
          <img src="/assets/infopp.png" alt="" />
        </div>
        <div class="light head">Find the Talent You Need Nearby</div>
        <div class="infocnt regular">
          <p>Search for talented film and video professuibal in your area. </p>
        </div>
      </article>

      <article class="span4">
        <div class="atrctinfoimg">
          <img src="/assets/book.png" alt="" />
        </div>
        <div class="light head">Search and Explore Our Digital Library</div>
        <div class="infocnt regular">
          <p>With current how to articles,videos,  interviews to hone your skill & learn new ones too!</p>
        </div>
      </article>
    </div>
  </div>
</div>
<!--========= attract info ends======------>
<!--========= detailed info start======------>
<div class="detailinfowrap">
  <div class="detailinfo maincontain container">
    <div class="row">
    <div class="dtlh1 span12 text-center regular">Discover how Filmzu is the key to creating great film and video</div>
    

    <div class='discover clearfix'>
      <div class='left-div pull-left'>
        <img src="/assets/firstdtl.png" alt="" />
      </div>

      <div class='right-div pull-left'>
        <div class="info verylight">
          Advanced Search Makes Ipsum Don Proin Pellentesque id
        </div>

        <div class="dtlinfotext light">
          The first platform with an active application process. Film and video professionals can look through projects to find ones they are interested in, based on genre, location, schedule and more! Producers review only the individuals that want to work on the project!
        </div>

      </div>
    </div>

    <div class='discover clearfix'>
      <div class='left-div pull-left'>
        
        <div class="info verylight">
          Rate Events & Articles a Mi Ipsum Vivamus Duis
        </div>

        <div class="dtlinfotext light">
          Read through information articles and How-To videos. From DIY videos to make your own dolly, and other tips to help you save money. We also review the latest products and talk about all these ways you can spend your money!
        </div>
      </div>

      <div class='right-div pull-left'>
        <img src="/assets/home-feature-2.png" alt="" />
      </div>
    </div>

    <div class='discover clearfix'>
      <div class='left-div pull-left'>
        <img src="/assets/dtlthrid.png" alt="" />
      </div>

      <div class='right-div pull-left'>
        <div class="info verylight">
          Advanced Search Makes Ipsum Don Proin Pellentesque id 
        </div>

        <div class="dtlinfotext light">
          Search for film and video professionals in your area. Where you want start a new project, or find someone to work on an existing one, Filmzu is the best destination spot to find writers, actors, editors, and everything in between!
        </div>

      </div>
    </div>


    </div>
    </div>
</div>
<!--========= detailed info ends======------>
<% end %><!--========= Exclusion Ends======------>
    
    </div>
  </div>
</div>
 
<!-- Filmzu video modal -->
<div id="video-modal" class="modal hide fade left-aligned" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3><span><div class='center-it light'>Filmzu: Freedom for Filmmakers</div></span></h3>
  </div>
  <div class="modal-body">
    <iframe width="530" height="315" src="//www.youtube.com/embed/o3uKEofAjgA" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class='modal-footer'>
    <button class='btn' data-dismiss="modal">Close</button>
  </div>
</div>
<!-- Filmzu video modal -->

<script type="text/javascript">
  $(document).ready(function(){
    $('#pdiv').bxSlider({
      auto:false,
      useCss:false,
      infiniteLoop:false,
      pause:4000,
      adaptiveHeight: false,
      mode: 'horizontal',
      speed: 1000,
      autoHover:true,
      pager:false,
      nextText:'Prev',
      prevText:' Prev',
      slideWidth:230,
      slideMargin:10,
      minSlides:4,
      maxSlides:4,
      moveSlides:1
      
    });
    
    $('#pdiv2').bxSlider({
      auto:false,
      useCss:false,
      infiniteLoop:false,
      pause:4000,
      adaptiveHeight: false,
      mode: 'horizontal',
      speed: 1000,
      autoHover:true,
      pager:false,
      nextText:'Prev',
      prevText:' Prev',
      slideWidth:230,
      slideMargin:10,
      minSlides:3,
      maxSlides:3,
      moveSlides:1
      
    });
  });
</script>

								
         