 <div id="wrap"> 
  <!-- Main Content -->
    <div id='content' role='main'>
      <section class='section alt' id='promo'>
        <div class='container'>
    
          <div class='row-fluid'>
						<div class='span12'>
              <div class='hero-unit'>
                <center>
								<h1><%= image_tag "filmzu.png" %></h1>
                <br>
								<p>The platform that makes creating films as enjoyable as watching them</p>

								<br>
								
								<!-- Begin Signup Form -->								
								<form action="http://filmzu.us6.list-manage.com/subscribe/post?u=f7f6702bd4e503b98fda073a0&amp;id=c0f4907d41" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
									<label for="mce-EMAIL">We are currently in closed Alpha testing, please sign-up and we will let you know when we launch</label>
									<br>
									<div class="input-append">
									<input type="email" value="" name="EMAIL" class="span6 email" id="mce-EMAIL" placeholder="Email Address" required>
									<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn">
									</div>
								</form>
								<!--End Signup Form -->
								</center>
								<br>
              </div>
            </div>
            
            </div> -->
          </div> 

	     <div id="push"></div>
    </section>
  </div>
</div>

