 <div id="wrap"> 
  <!-- Main Content -->
    <div id='content' role='main'>
      <section class='section alt' id='promo'>
<div class='container'>
    <div class='carousel slide' id='myCarousel'>
      <!-- Carousel items -->
      <div class='carousel-inner'>
        <div class='active item'>
          <div class='row-fluid'>
            <div class='span2'></div>
						<div class='span9'>
              <div class='hero-unit'>
                <center>
								<h1><%= image_tag "filmzu.png" %></h1>
                <br>
								<p>The platform for filmmakers to organize, cast, staff, fundraise and distribute their films</p>
								<br>
								
																
								
								<!-- Begin Signup Form -->								
								<form action="http://filmzu.us6.list-manage.com/subscribe/post?u=f7f6702bd4e503b98fda073a0&amp;id=c0f4907d41" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
									<label for="mce-EMAIL">We are currently in closed Alpha testing, please sign-up and we will let you know when we launch</label>
									<br>
									<div class="input-append">
									<input type="email" value="" name="EMAIL" class="span6 email" id="mce-EMAIL" placeholder="Email Address" required>
									<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn">
									</div>
								</form>
								<!--End Signup Form -->
								</center>
								<br>
              </div>
            </div>
            <!-- <div class='span5'>
            <%= image_tag "main-poster.jpg", :class => "pull-right" %>
            </div> -->
          </div> 
          <!-- <div class='row-fluid'>
              <ul class="ch-grid">
  							<div class='span4'>
                	<li>
  						        <div class="ch-item ch-img-1">
  						            <div class="ch-info">
  						                <h3>Have a Film Project?</h3>
  						                <p>FilmZu</p>
  						            </div>
  						        </div>
  						    </li>
              </div>
              <div class='span4'>
                <li>
  					        <div class="ch-item ch-img-1">
  					            <div class="ch-info">
  					                <h3>Need Cast, Staff & Funding?</h3>
  					                <p>FilmZu</p>
  					            </div>
  					        </div>
  					    </li>
              </div>
              <div class='span4'>
                <li>
  					        <div class="ch-item ch-img-1">
  					            <div class="ch-info">
  					                <h3>Distribution & Monetization</h3>
  					                <p>FilmZu</p>
  					            </div>
  					        </div>
  					    </li>
              </div>
            </div>
          </div>
          
        Carousel nav
        <a class='carousel-control left' data-slide='prev' href='#myCarousel'>&lsaquo;</a>
        <a class='carousel-control right' data-slide='next' href='#myCarousel'>&rsaquo;</a>
      </div>
    </div> --> 
	<div id="push"></div>
</div>
</section>

<!-- <section class='section'>
  <div class='container'>
    <div class='page-header'>
		<center>
      <h1>
        What is Filmzu?
        <small>We are a revolutionary collaboration tool for independent filmmakers.</small>
      </h1>
			<div class='row-fluid'>
				<div class ="span1"></div> 
				<div class ="span12"></div>
			</div>
		</center>
    </div>
	</div>
</section> -->