<script type="script/template" id='user_fans_template'>

  <div class='span4 shrink-div head'>
    <span class="pull-left">
      <h3>Fans</h3>
    </span>
    <span class="btn-show-all pull-right"></span>
    <div class='clearfix'></div>
  </div>

  <div class="span4">
    <div class="row clearfix">
      <div class="grey-line-divider"></div>
    </div>
  </div>

  <div class="span4 fans-tiles" id='user_fans_list'>
    <%% count = this.total_fans %>
    <%% if(count > 8) { %>
      <div class="fan-img empty-grey-tile pull-left text-center">
        <div class='row grey-top-line'>
        </div>
        <div class='fans-extra-count'>
          +<%%= count - 8 %>
        </div>
        <%% (count - 8) == 1 ? print('FAN') : print('FANS') %>
      </div>
    <%% }else{ %>
      <div class="fan-img empty-grey-tile pull-left text-center">
        <div class='row grey-top-line'>
        </div>
        <div class='fans-extra-count'>
          <%%= count %>
        </div>
        <%% count == 1 ? print('FAN') : print('FANS') %>
      </div>
    <%% } %>
  </div>
</script>