<script type="script/template" id='user_fan_template'>
  <a href='/users/<%%= url_param %>'><div class="img-square" title='<%%= name %>' style="background-image: url(<%%= profile_pic %>)"></div</a>
</script>