<script type="script/template" id='project_template'>
  
  <div class="ptopimg">
    <img src="/assets/pbg.png" alt="" />
    <div class="topcnt">
        <h3 class='medium'><a href='/project/<%%= id %>'><%%= title %></a></h3>
        <p><%%= description %></p>
      </div>
    
  </div>
  <div class="pinfo">
    
    <ul class="plist">
      <%% _.each(_.first(super_roles_needed, 4), function(role){ %>
        <li class='badge badge-custom-green'><%%= role %></li>
      <%% }) %>
      <%% if(super_roles_needed.length > 5) { %>
        <li class='badge badge-custom-green'>+<%%= super_roles_needed.length - 4 %> More</li> 
      <%% } %>
    </ul>
  </div>
  
  <div class="proindi"> 
    <div class="fans">
      <div class='fans-count regular text-center'>
        1234
      </div>
      <span>FANS</span>
    </div>
    <div class="follow">
      <div class="btn-follow btn-custom btn-cement medium flw">
        Follow
      </div>

      <div class="btn-message msg btn-custom btn-cement medium send-generic-message" data-message-subject="Regarding Project - <%%= title %>" data-message-header="Message Project Owner - <%%= user.name %>" data-message-recipients="<%%= user.email %>">
          Message
      </div>
    </div>
  </div>

  <div class="progcircle">
    <div class="role-circle-container">

      <div class="role-circle"> </div>
  
      <div class="circle-fill"> </div>
  
  
      <div class="circle-measure circle-measure-<%%= roles_percent %>"> </div>
  
      <span class="role-count medium">
  
        <%%= open_roles.length %> Open Roles
  
      </span>
  
    </div>

  </div>
</script>