<script type="script/template" id='project_roles_template'>

  <div id='role_edit_region' class='pull-left'>
  </div>

  <div id='project_roles_display_region' class='pull-left'>

    Your team so far:
    <div id='filled_roles'>
      <div class='empty_message text-center'>
        No team members added
      </div>
    </div>

    To be filled Project Positions:
    <div id='unfilled_roles'>
      <div class='empty_message text-center'>
        No positions added
      </div>
    </div>

  </div>

</script>