<script type="script/template" id='similar_project_template'>

  <div class='project-main-container'>
    <div class='project-image-container'>
      <div class='project-image' style='background: url("<%%= display_medium %>")'>
      </div>
      
      <div class='project-img-layover'>
      </div>
    </div>  

    <div class='project-details'>
      <div class='project-title medium'>
        <a href='/projects/<%%= url_param %>'><%%= title %></a>
      </div>
      <div class='project-desc light'>
        <%%= description %>
      </div>
    </div>

    <div class="row project-popularity clearfix">
      <div class="center-div clearfix text-center">
        
        <span class="likes action-div icon pull-right">
          <div class="pull-right count">
            <%%= fans_count %>
          </div>
          <div class="heart-blue <%% if(typeof user_liked != 'undefined' && user_liked) print('active') %> icon pull-right"> </div>
        </span>
  
        <span class="comments pull-left">
          <div class="pull-right count">
            <%%= comments_count %>
          </div>
          <div class="comment-blue icon pull-right"> </div>
        </span>

      </div>
    </div>
  </div>

</script>