<script type="script/template" id='similar_projects_template'>

  <div class='span4 shrink-div head'>
    <span class="pull-left">
      <h3>Similar Projects</h3>
    </span>
    <span class="btn-show-all pull-right"></span>
    <div class='clearfix'></div>
  </div>

  <div class="span4">
    <div class="row clearfix">
      <div class="grey-line-divider"></div>
    </div>
  </div>

  <ul class='row projects-filter clearfix custom-green-filters nav'>
    <li class='active'>
      <a href="#user-project-tab-all" data-toggle='tab' class='badge badge-custom-green pull-left event-filter'>
        ALL
      </a>
    </li>

    <li>
      <a href="#user-project-tab-current" data-toggle='tab' class='badge badge-custom-green pull-left event-filter'>
        CURRENT
      </a>
    </li>

    <li>
      <a href="#user-project-tab-past" data-toggle='tab' class='badge badge-custom-green pull-left event-filter'>
        PAST
      </a>
    </li>
  </ul>

  <div class='row'>
    <div class='tab-content events-display-tabs'>
      <div class='tab-pane active' id='user-project-tab-all'>
        <div class="message_for_empty text-center">
          No Projects
        </div>
      </div>

      <div class='tab-pane' id='user-project-tab-current'>
        <div class="message_for_empty text-center">
          No Projects
        </div>
      </div>

      <div class='tab-pane' id='user-project-tab-past'>
        <div class="message_for_empty text-center">
          No Projects
        </div>
      </div>
    </div>
  </div>

</script>