<h5>Event Important Date</h5>

<div class='control-group'>
  <%= date.label :description, :class => 'control-label' %>
  <div class='controls'>
    <%= date.text_field :description%>
  </div>
</div>

<div class='control-group'>
  <%= date.label :date_time, :class => 'control-label' %>
  <div class='controls'>
    <%= date.text_field :date_time, :class => 'date_time_field' %>
  </div>
</div>