<div id='event_map_modal' class="modal hide fade span9 search_form_modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 class='modal-header-name'> <%= @event.title %> </h3>
  </div>
  
  <div class="modal-body">
    <div id='event-map'>
    </div>
  </div>

  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss='modal'>Close</a>
  </div>
</div>