<div class="banner">
  <div class="container text-center">
    <h1>Your Vision. Your Video.</h1>
    <h3>made exclusively for you</h3>
    <a href="#" class="btn btn-orange btn-slg">Start a New Project</a>
  </div>
</div>
<div class="container">
</div>
