%table.content.content-grid-1
  %tbody
    %tr
      %td.col-1{rowspan: "2"}
      %td.col-2{rowspan: "2"}
      %td.col-3-a.col-header-1
        .row
          .col-xs-12
            .row
              .col-xs-4
                %h2.title People
              .col-xs-4.col-pr-1
                %form
                  .form-group
                    %input{type: "text", class: "form-control", placeholder: "Search People"}
              .col-xs-4
                %select.selectpicker
                  %option First Option
                  %option Second Option
                  %option Third Option
      %td.col-4-a
    %tr
      %td.col-3
        .row
          .col-xs-12
            .member
              .row
                .col-xs-2
                  = image_tag "actor.png"
                .col-xs-7
                  %h4.member-name
                    Lorem ipsum
                  %ul.list-unstyled.member-details
                    %li
                      %i.fa.fa-map-marker
                      Los Angeles,CA
                    %li
                      %i.fa.fa-user
                      Writer
                    %li
                      %i.fa.fa-star-o
                      5.0 Stars
                  %p.member-description
                    %span
                      About
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
                .col-xs-3
                  %ul.list-unstyled.member-price
                    %li
                      %span
                        $300
                      Price
                    %li
                      %span
                        $150
                      Daily Rate
                  %a.btn.btn-md.btn-blue.btn-full-width{href: "#"}
                    Hire
            .member
              .row
                .col-xs-2
                  = image_tag "actor.png"
                .col-xs-7
                  %h4.member-name
                    Lorem ipsum
                  %ul.list-unstyled.member-details
                    %li Los Angeles,CA
                    %li Writer
                    %li 5.0 Stars
                  %p.member-description
                    %span
                      About
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
                .col-xs-3
                  %ul.list-unstyled.member-price
                    %li
                      %span
                        $300
                      Price
                    %li
                      %span
                        $150
                      Daily Rate
                  %a.btn.btn-md.btn-blue.btn-full-width{href: "#"}
                    Hire
      %td.col-4