-#.top-bar
-#  .container
-#    .row
-#      %h2 Connect with clients on paid video and film projects
-#      %p.subtitle
-#        FilmZu puts paying clients at your fingertips, plus it-s FREE and always will be. Have an account?
-#        %a{href: '#'} Sign In Here
-#        \. Hiring?
-#        %a{href: '#'}
-#          Register as a Client
-#        \.
.container.container-basic
  .row
    .col-xs-2
    .col-xs-10
      .row
        .col-xs-8
          %h2.title
            Complete Registration
          %p.subtitle
            Step 1: The Basics
        .col-xs-4
          .text-right
            %a.btn.btn-blue.btn-md{href: "#"}
              Next Step
            %a.btn.btn-grey.btn-md{href: "#"}
              Cancel
      .clearfix
  .clearfix

