<div class="container">
  <div class="row-fluid">
    <div class="span10 offset1">
      <div class="row-fluid">
        <div class="span12">
      <div class="page-header">
          <h1>
              About <%= @project.title %>
          </h1>
        </div>
      <article class="blog-post">
        
        <p>
            <%= @project.description %>
				</p>
				<% if @project.photos.present? then %>
				<ul class='thumbnails bordered thumbnail-list'>
					<% @project.photos.each do |photo| %>
				      <li class='span4'>
				          <figure class='thumbnail-figure'>
										<%= image_tag photo.image %>
				          </figure>
				      </li>
						<% end %>
						</ul>
						<% end %>
    </article>

  </div>
</div>