<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div class="well">
        <p><center>
            <button class="btn btn-primary" type="button">Contact</button><br><br>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_project_path(@project), :class => 'btn btn-warning' %><br><br>
            
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                                    project_path(@project),
                                    :method => :delete,
                                    :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                                    :class => 'btn btn-danger' %>
        </p></center>
      </div>
    </div>
  </div>
</div>