<div class='control-group'>
  <%= date.label :description, :class => 'control-label' %>
  <div class='controls'>
    <%= date.text_field :description, :class => 'required' %>
  </div>
</div>

<div class='control-group'>
  <%= date.label :date_time, :class => 'control-label' %>
  <div class='controls'>
    <%= date.text_field :date_time, :class => 'datetime_field' %>
  </div>
</div>