<%= javascript_include_tag "projects/projects_manifest" %>
<%= stylesheet_link_tag "projects/manifest.css" %>

<%- model_class = @project.class -%>
<section class='section'>
  <div class='container'>
		<%= render :partial => 'form' %>
	</div>
</section>