<%= javascript_include_tag "projects/projects_manifest" %>

<%- model_class = @project.class -%>
<section class='section'>
  <div class='container'>
    <div class='page-header'>
  		<h1><%=t '.title', :default => t('helpers.titles.edit', :model => model_class.model_name.human,
                                   :default => "Edit #{model_class.model_name.human}") %>
		 </h1>
		</div>
		<%= render :partial => 'form' %>
	</div>
</section>

<script type="text/javascript">
  $(document).ready(function(){
    app.project_genres = <%=raw Project.genres.keys %>

    $('#project_genre').tagit({
      sortable: true,
      tagSource: ['munna','vishnu'],
      allowNewTags: false,
      triggerKeys: ['comma', 'tab', 'space', 'enter'],
      tagsChanged: function(tagValue, action, element){
        tag_value_array = _.map($('#project_genre').tagit('tags'), function(tag){
            tag.value  
        })  
        $('#project_genre_list').val(tag_value_array.toString())
      }
    });
  
      
  })
</script>