<%- model_class = @project.class -%>
<section class='section'>
  <div class='container'>
    <div class='page-header'>
      <h1>Start a New Caball Project
			</h1>
		</div>
		<%= render :partial => 'form' %>
	</div>
</section>