<section id="promo" class="section alt">
  <%= render 'promo-alt' %>
</section>

<section id="about" class="section">
  <%= render 'about' %>
</section>

<% if @project.roles.present? then %>
<section id="roles" class="section alt">
  <%= render 'roles' %>
</section>
<% end %>