<section id="promo" class="section alt">
  <%= render 'promo-alt' %>
</section>

<section id="about" class="section">
  <%= render 'about' %>
</section>

<section id="roles" class="section alt">
  <%= render 'roles' %>
</section>