<script type="script/template" id='attendee_template'>
  <a href='/users/<%%= url_param %>'>
    <div class='img-square' title="<%%= name %>" style='background: url("<%%= profile_medium %>") no-repeat;'>
    </div>
  </a>
</script>