<script type="script/template" id='comments_template'>
  
  <div class='row add-comment'>
    <div class='span8'>
      <div class='row'>
        <img src='<%= @event.user.photos.first.image.url(:medium) %>' class='img-circle user-profile-img'>
        <textarea id='add_comment' placeholder='Add your event updates here' rows='5'></textarea>
      </div>
      <div class='row'>
        <div class='span8' id='comment_please_wait' style='disaplay:none;'>
          Please wait while we add your comment..
        </div>
      </div>
    </div>
  </div>

  <div id='comments_display'>
    
  </div>
</script>