<script type="script/template" id='comment_template'>
  <div class='comment'>

    <img src='<%%= user.profile_pic %>' class='img-circle user-profile-img'>
    <div class='comment-details'>
      
      <div class='row'>
        <div class='commentor-name'>
          <%%= user.name %>
        </div>
        <div class='commentor-location'>
          <div class='pull-left location-img-grey'></div>
          <div class='pull-left light'>
            <%%= user.location %>
          </div>
        </div>
      </div>

      <div class='row'>
        <div class='comment-content light'>
          <%%= content %>
        </div>

        <%% if (photo != null) { %>
          <div class='comment-img'>
            <img src='<%%= photo.image.url %>'>
          </div>
        <%% } %>

        <%% if (video != null && video.provider != null) { %>
          <div class='comment-video'>
            <%%= video.embed_code %>
          </div>
        <%% } %>
        
      </div>
    </div>
      
    
    <div class='row comment-actions action-div'>
      <div class='pull-right like-comment'>
        <div class='pull-right likes-count'><%%= likes_count %></div>
        <div class='heart-blue pull-right'> </div>        
      </div>
    </div>

  </div>
</script>