<script type="script/template" id='recent_events_template'>

  <div class='page-header-secondary'>
    Recent Events
  </div>

  <div id='recent_projects' class='clearfix'>
  </div>

  <div class='load_more_main no_border text-center'>
    <a class='btn-custom btn-red center-div text-center btn-load_more' data-next-page=2>
      Load More
    </a>
  </div>


</script>