<script type="script/template" id='result_events_template'>
  
  <div class='event_results'>
    
  </div>

  <div class='load_more_main text-center'>
    <a class='btn-custom btn-red center-div text-center btn-load_more' data-next-page=2>
      Load More
    </a>
  </div>

</script>