<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>You have a new reply: <%= @message.subject.html_safe? ? @message.subject : strip_tags(@message.subject) %></h1>
    <p>
      You have received a new reply:
    </p>
    <blockquote>
      <p>
        <%= raw @message.body %>
      </p>
    </blockquote>
    <p>
      Reply from <%= link_to User.find(@message.sender_id).name, "http://beta.filmzu.com"+user_path(User.find(@message.sender_id)) %>. Please visit <%= link_to "Filmzu.com", "http://beta.filmzu.com" %> and go to your inbox for more info.
    </p>
		<br>
		<div class="cheers_text" style="margin: 15px 0 0 13px;padding: 0;text-align: left;width: 120px;height: auto;float: left">
			<h1 style="margin: 0;padding: 0;text-align: left;width: 120px;height: auto;float: left;font-weight: normal;font-size: 14px;color: #515961;padding-bottom: 5px">Cheers,</h1>
		  <h2 style="margin: 0;padding: 0;text-align: left;width: 120px;height: auto;float: left;font-weight: bold;font-size: 14px;color: #515961">
			<a href="http://filmzu.com/" style="text-decoration: none;border: none;color: #515961;outline: none">The Filmzu Team</a></h2>

			<div class="video_icon" style="margin: -20px 10px 0px 150px;position: absolute;padding: 0;text-align: left;width: auto;height: auto;float: right">
				<img src="http://filmzu-4mapu5m2zx.elasticbeanstalk.com/assets/cemra.png" alt="" style="border: none;width: auto;height: auto;float: right;margin-top: 10px;padding-bottom: 40px" />
			</div>
			<i style="margin: 20px;padding: 0;text-align: left;width: 500px;height: auto;float: left;font-weight: 300;font-size: 12px;color: #515961">Please do not reply to this email message as this mailbox is not checked. To reply please login to Filmzu and reply via your dashboard.</i>
		</div>
		  </body>
		</html>