<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>You have a new reply: <%= @message.subject.html_safe? ? @message.subject : strip_tags(@message.subject) %></h1>
    <p>
      You have received a new reply:
    </p>
    <blockquote>
      <p>
        <%= raw @message.body %>
      </p>
    </blockquote>
    <p>
      Reply from <%= link_to User.find(@message.sender_id).name, "http://filmmo.com"+user_path(User.find(@message.sender_id)) %>. Please visit <%= link_to "filmmo.com", "http://filmmo.com" %> and go to your inbox for more info.
    </p>
		<br>
		<div class="cheers_text" style="margin: 15px 0 0 13px;padding: 0;text-align: left;width: 120px;height: auto;float: left">
			<h1 style="margin: 0;padding: 0;text-align: left;width: 120px;height: auto;float: left;font-weight: normal;font-size: 14px;color: #515961;padding-bottom: 5px">Cheers,</h1>
		  <h2 style="margin: 0;padding: 0;text-align: left;width: 120px;height: auto;float: left;font-weight: bold;font-size: 14px;color: #515961">
			<a href="http://filmmo.com/" style="text-decoration: none;border: none;color: #515961;outline: none">The filmmo Team</a></h2>
			<i style="margin: 20px;padding: 0;text-align: left;width: 500px;height: auto;float: left;font-weight: 300;font-size: 12px;color: #515961">Please do not reply to this email message as this mailbox is not checked. To reply please login to filmmo and reply via your <a href="http://www.filmmo.com/dashboard">dashboard</a>. If you would like to unsubscribe from email notifications please login and visit your <a href="http://www.filmmo.com/dashboard#settings">settings</a> page on your dashboard.</i>
		</div>
	</body>
</html>