#projects-index .projects-box .love-button{
	display: inline-block;
	float: right;
	position: absolute;
	top: 20px;
	right: 10px;
}

.follow-container {
	.love-button{
		display: inline-block;
		margin-right: 5px;
	}
}

.blog-love{
	display: inline-block;
}

.comment-love{
	display: inline-block;
}

.user-love{
	display: inline-block;
	position: absolute;
	margin-left: 10px;
	margin-top: 15px;
}
