/* Header Stuff */

header {
  
  height: 100px;
  margin-bottom: 30px;
  
  .box-shadow(0px 10px 19px #333);
  
  .navbar-fixed-top {
    height: 100%;
    position: relative;
    .navbar-inner {
      height: 100%;
    }
  }
  
  .nav-collapse {
    height: 100%;
  }
  
  // Get rid of horizontal line
  .navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
    box-shadow: none;
    border-width: 0 0 0px;
  }
  
  .header-container > div.row-fluid, 
  .header-container > div.row-fluid > .span12,
  .header-container > div.row-fluid > .span12 > .row-fluid,
  .header-container > div.row-fluid > .span12 > .row-fluid .pull-right,
  .header-container > div.row-fluid > .span12 > .row-fluid .pull-right li {
    height: 100%;
  }
  
  .header-container {
    height: 100%;
    padding: 0px;
    background: url('header_background.png') repeat;
     
    .row-fluid .row-fluid {
      display: table;
    }
    
    .divider-vertical {
      margin: 0px 0px;
      border-left: 1px solid #333;
      border-right: 1px solid #333;
    }
  
    .brand {
      background-color: transparent;
      padding: 0;
      display: table-cell;
      vertical-align: middle;
      float: none;
      position: relative;
      left: -3px;
      
      .triangle-shape {
        border-top: 129px solid #fff;
        border-top: 129px solid rgba(255,255,255,1);
        border-left: 140px solid #fff;
        border-left: 140px solid rgba(255,255,255,1);
        border-right: 340px solid rgba(0,0,0,0);
        position: absolute;
        top: -29px;
        z-index: 5;
        -webkit-filter: drop-shadow(9px 9px 9px rgba(0,0,0,0.3));
        filter: url(shadow.svg#drop-shadow);
        -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=1, Color='#ccc')";
        filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=1, Color='#ccc')";

      }
      
      a {
        z-index: 10;
        position: relative;
        left: 15px;
      }
    }
    
    .nav > li {
      float: none;
      display: inline;
      display: inline-block;
      vertical-align: middle;
    }
    
    .nav > ul {
      display: table;
    }
    
    .nav {
      
      .widgets {
        
        div { 
          padding-right: 10px;
        }
        
        .notifications > a{
          height: 43px;
          width: 55px;
          background: url('header_icons.png') no-repeat 0px -43px;
          position: relative;
          float: left;
          
          .number {
            position: absolute;
            left: 40px;
            top: -5px;
          }
        }
        
        .messages  > a{
          height: 46px;
          width: 55px;
          background: url('header_icons.png') no-repeat 0px -3px;
          position: relative;
          float: left;
          
          .number {
            position: absolute;
            left: 40px;
            top: -5px;
          }
        }
        
        .profile {
          float: left;
          padding-left: 10px;
        }
        
        .settings > a{
          height: 43px;
          width: 55px;
          background: url('header_icons.png') no-repeat 0px -89px;
          position: relative;
          float: left;
          border: none !important;
        }
      }
      
      .search {
        position: relative;
        
        form {
          margin: 0px;
        }
        
        input {
          padding-left: 20px;
          text-align: right;
        }
        
        .icon-search {
          position: absolute;
          left: 4px;
          top: 7px;
          cursor: pointer;
          
        }
      }
      
      .messaging {
        .messaging-icon {
          background-image: url('messaging_icon.png');
          background-repeat: no-repeat;
          height: 18px;
          width: 29px;
          
        }
        
        .messaging-icon:hover {
          background-image: url('messaging_icon_hover.png');
          
        }
        
        .badge-info {
          position: absolute;
          left: 25px;
          bottom: 20px;
          background: rgb(255, 38, 38); 
          background: rgba(255, 38, 38, .8);
        }
      }
    }
    /* For over-writing weird open state where background changes */
    .nav .dropdown.open > .dropdown-toggle {
      background-color: transparent !important;
      border: none !important;
    }
    
    .nav .dropdown > .dropdown-toggle {
      border: none !important;
    }
    
    .title-cell {
      display: table-cell;
      vertical-align: middle;
    }
    
    .nav > li > a {
     
      display: table;
      vertical-align: middle;
      position: relative;
      text-align: center;
      height: 100%;
      padding: 0 15px;
          
    }
    

    
    h4, h6 {
      margin: 0;
      line-height: 18px;
      // Need to adjust text shadow for different background color
      .text-shadow(1px 6px 8px #333);       
    }
    
    h4, h6 {
      color: @white; 
    }
   
   .caret {
      border-top-color: @grayDarker !important;  // This was getting overriden somewhere else
      border-bottom-color: @grayDarker !important; // This was getting overriden somewhere else
    }
    
    a:hover {
      text-decoration: none !important;
      h4 {
        color: #c1272d; 
      }
      h6 {
        color: #c1272d;
      }
      .caret { 
        border-top-color: lighten(@grayDarker, 20%) !important; 
        border-bottom-color: lighten(@grayDarker, 20%) !important; 
      }
    }
  }
}

// Footer
#footer {
  padding: 20px;
  background: #333333;
  color: #eeeeee;
  border-top: 1px solid black;
  text-shadow: 1px 1px 1px #222222;
  -webkit-box-shadow: inset 0px 3px 3px rgba(0,0,0,0.25);
  -moz-box-shadow: inset 0px 3px 3px rgba(0,0,0,0.25);
  box-shadow: inset 0px 3px 3px rgba(0,0,0,0.25);
  -webkit-box-shadow: inset 0px 3px 3px rgba(0,0,0,0.25);
  -moz-box-shadow: inset 0px 3px 3px rgba(0,0,0,0.25);
  box-shadow: inset 0px 3px 3px rgba(0,0,0,0.25);
}
#footer > hr {
  border-top: 1px solid @grayDarker;
  border-bottom: 1px solid @gray;
}

#footer .copyright {
  color: @gray;
}

#footer ul.links {
  margin:0;
}

#footer ul.links > li {
  display: inline;
  list-style-type: none;
  padding: 0 12px;
  border-left: 1px solid lighten(@grayDark, 5%);
  a {
    // font-weight: bold;
  }
}

#footer ul.links > li:first-child {
  padding-left: 0;
  border-left: 0;
}

// All site
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// Page specific css
@import "fonts.css.less";
@import "users.css.less";
@import "projects.css.less";

//Get Image Working Again

.img-rounded {
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.img-polaroid {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.img-circle {
  -webkit-border-radius: 500px;
     -moz-border-radius: 500px;
          border-radius: 500px;
}

//Forms Improvement

.text_area {
width: 310px;
}
#conversation_body {
  width: 600px;
}
.form-horizontal .control-label {
  padding-left: -15px;
  width: 100px;
}
.form-horizontal .controls {
  margin-left: 120px;
}

// Home Page

.ch-grid {
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%;
}
 
.ch-grid:after,
.ch-item:before {
    content: '';
    display: table;
}
 
.ch-grid:after {
    clear: both;
}
 
.ch-grid li {
    width: 220px;
    height: 220px;
    display: inline-block;
    margin: 20px;
}
.ch-item {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    cursor: default;
    box-shadow: 
        inset 0 0 0 16px rgba(255,255,255,0.6),
        0 1px 2px rgba(0,0,0,0.1);
    transition: all 0.4s ease-in-out;
}
.ch-img-1 { 
    background-image: url(filmzu1.png);
}
 
.ch-img-2 { 
    background-image: url(http://tympanus.net/Tutorials/CircleHoverEffects/images/1.jpg);
}
 
.ch-img-3 { 
    background-image: url(http://tympanus.net/Tutorials/CircleHoverEffects/images/1.jpg);
}
.ch-info {
    position: absolute;
    background: rgba(0,0,0, 0.8);
    width: inherit;
    height: inherit;
    border-radius: 50%;
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    transform: scale(0);
}
.ch-info h3 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 22px;
    margin: 0 30px;
    padding: 45px 0 0 0;
    height: 140px;
    font-family: 'Open Sans', Arial, sans-serif;
    text-shadow: 
        0 0 1px #fff, 
        0 1px 2px rgba(0,0,0,0.3);
}
.ch-info p {
    color: #fff;
    padding: 10px 5px;
    font-style: italic;
    margin: 0 30px;
    font-size: 12px;
    border-top: 1px solid rgba(255,255,255,0.5);
    opacity: 0;
    transition: all 1s ease-in-out 0.4s;
}
.ch-info p a {
    display: block;
    color: rgba(255,255,255,0.7);
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 9px;
    letter-spacing: 1px;
    padding-top: 4px;
    font-family: 'Open Sans', Arial, sans-serif;
}
 
.ch-info p a:hover {
    color: rgba(255,242,34, 0.8);
}
.ch-item:hover {
    box-shadow: 
        inset 0 0 0 1px rgba(255,255,255,0.1),
        0 1px 2px rgba(0,0,0,0.1);
}
.ch-item:hover .ch-info {
    transform: scale(1);
    opacity: 1;
}
.ch-item:hover .ch-info p {
    opacity: 1;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}


/* Centering Text Class */
.centered-text {
  text-align: center;
}

.left-aligned {
  text-align: left;
}

.right-aligned {
  text-align: right;
}


/* Messaging Modal to be tall enough */

#message-modal .modal-body {
  max-height: 100%;
  
  textarea {
    height: 250px;
  }
}


