#wrap.white .navbar.navbar-default {
  border-color: #FFFFFF!important;
}
.navbar.navbar-default {
  background-color: #FFFFFF;
  border-bottom-color: #ccd5d6;
  border-top-color: #FFFFFF;
  margin-bottom: 0px;
  min-height: 70px;
  .container {
    padding-right: 10px;
    padding-left: 10px;
    .navbar-header {
      width: 100%;
    }
    .navbar-collapse {
      border-top: none;
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  .navbar-brand {
    padding: 17px 15px 17px 0px;
    width: 150px;
    margin-left: 0px;
    outline: 0;
  }
  .navbar-form {
    margin-left: 0px;
    padding-left: 0px;
    padding-top: 11px;
    .form-control {
      background-color: #eaeded;
      height: 30px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      border-radius: 0px;
      padding: 6px;
      width: 240px;
    }
  }
  .nav.navbar-nav.navbar-left {
    width: 280px;
  }
  .navbar-nav > li > a {
    padding: 24px;
    font-size: 16px;
    font-family: 'Conv_HelveticaNeue-Medium';
    outline: 0;
  }
  .btn {
    margin: 19px 0px 19px 30px;
  }
}

//navbar icons

.project {
  width: 30px;
  height: 35px;
  background-image: url("icons.png");
  background-position: 0px 124px;
  float: left;
  margin-right: 5px;
  margin-top: -2px;
}
.user {
  width: 30px;
  height: 35px;
  background-image: url("icons.png");
  background-position: 0px 220px;
  float: left;
  margin-right: 5px;
  margin-top: -2px;
}
.navbar.navbar-default .btn {
  margin: 18px 4px !important;
}

