
.dates span {
  margin-right: 10px;
}

.dates .label {
  padding: 0.4em;
}

#projects-flow {
  font-size: 8em;
  
  i {
    position: absolute;
    bottom: 52%;
    left: 38%;
    cursor: pointer;  
  }
}

.roles {
  margin-bottom: 20px;  
}

.roles .well {
  display: block;
  float: none;
  margin: 0 auto;
  height: auto;
  width: 70%;
  text-align: center;
}

.roles:nth-child(3n + 1) {
  margin-left: 0;
}

.roles-row { 
  margin-bottom: 30px;  
}

.projects-box:nth-child(3n + 1) {
  margin-left: 0;
  clear: both;
}

.projects-box .thumbnail-figure{
  text-align: center;
  .thumbnail-title{
    text-align: left;
  }
}

/*Royal Slider Mods*/

.royalSlider {
  .rsSlide {
    .transition(all 1s ease-out);
  }
  
  .rsSlide.right-slide {
    .transform(perspective(800px) rotateY(-45deg) ) !important;
  }
  
  .rsSlide.left-slide {
    .transform(perspective(800px) rotateY(45deg) ) !important;
  }
  
  .rsSlide.rsActiveSlide {
    z-index: 10;
    
    .transform(perspective(1000px) rotateY(0deg) ) !important;
  }
  
  .rsSlide img {
    border: 5px transparent solid;
    .border-radius(20px);
    
  }
  
  .rsVisibleNearbyWrap {
    overflow-y: visible;
  }
}


/* Projects Search/Index */

section.projects-search {
  margin-top: 30px;
  
  .projects-box:nth-child(3n + 1) {
    margin-left: 0;
  }
  
  .projects-description-more {
    position: relative;
    top: -10px;
    text-align: right;
  }
  
  .icon-search {
    cursor: pointer;
  }
  
  .projects-box {
    border: solid 3px #444;
    .border-radius(12px);
    padding: 10px;
    margin-bottom: 20px;
    
    img {
      .border-radius(5px);
    }
    
    hr {
      margin: 0;
      border: 1px solid #444;
    }
    
    .genre:nth-child(3n + 1) {
      margin-left: 0px;
    }
    
    .genres {
      margin: 0;
      text-align: center;
      width: 100%;
      padding: 10px 0px;
    }
    
    .genres li {
      display: inline-block;
      list-style: none;
      margin-right: 10px;
    }
  }
}


/* End Projects Search/Index */
