.royalSlider iframe {
  margin-top: -200px;
  margin-bottom: 30px;
  margin-left: 800px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px; 
  border-radius: 12px; 

  -moz-box-shadow: 4px 4px 14px #000; 
  -webkit-box-shadow: 4px 4px 14px #000; 
  box-shadow: 4px 4px 14px #000; 

  -moz-transform:rotate(20deg);
  -webkit-transform:rotate(20deg);
  -o-transform:rotate(20deg);
  -ms-transform:rotate(20deg);
  filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=.2);
}

/* Projects Profile Page */

#content {
  .page-header {
    h1 {
      font-size: 2em;
      color: @black;
    }
    
  }
  
  #about {
    
    .message-follow {
      border: 3px solid #333;
      width: 40%;
      padding: 10px;
      border: 3px solid #999;
      background: url('user_body_texture.png') repeat;  
      .box-shadow(3px 3px 6px 0px #333333);
      
      .message-button {
        color: @black;
        background: @backgroundButtonColor;
        background: -webkit-linear-gradient(rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.5) 100%), @backgroundButtonColor;
        background: -moz-linear-gradient(rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.5) 100%), @backgroundButtonColor;
        background: -ms-linear-gradient(rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.5) 100%), @backgroundButtonColor;
        background: -o-linear-gradient(rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.5) 100%), @backgroundButtonColor;
        background: linear-gradient(rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.5) 100%), @backgroundButtonColor;
        .box-shadow(0px 10px 10px -5px #F00);
        
        padding: 10px;
        .border-radius(3px);
        border: 1px solid #999;
        
        h5 {
          margin: 0;
        }
      }
      
      .message-button:hover {
        text-decoration: none;
        cursor: pointer;
        @darkerButtonBackgroundColor: darken(@backgroundButtonColor, 10%);
        background: @darkerButtonBackgroundColor;
        background: -webkit-linear-gradient(rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.5) 100%), @darkerButtonBackgroundColor;
        background: -moz-linear-gradient(rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.5) 100%), @darkerButtonBackgroundColor;
        background: -ms-linear-gradient(rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.5) 100%), @darkerButtonBackgroundColor;
        background: -o-linear-gradient(rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.5) 100%), @darkerButtonBackgroundColor;
        background: linear-gradient(rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.5) 100%), @darkerButtonBackgroundColor;
      }
    }
    
    .video-container {
      margin-top: 40px;
      margin-bottom: 40px;
      .box-shadow(3px 3px 6px 1px #333);
      iframe {
        
      }
    }
    
    .about-text {
      .projects-description-more {
        text-align: right;
        margin-top: -15px;
        .btn-link {
          text-align: right;
          color: #333;
        }
        .btn-link:hover {
          text-decoration: none;
        }
      }
    }
    .open-roles-container {
      text-align: center;
      margin-bottom: 40px;
      span {
        color: @white;
        padding: 10px;
        border: 3px solid #999;
        background: url('user_body_texture.png') repeat;  
        .box-shadow(3px 3px 6px 0px #333333);
      }
    }
    
  }
}
.comment p {
  margin-right: 500px;
}
.dates span {
  margin-right: 10px;
}

.dates .label {
  padding: 0.4em;
}

#projects-flow {
  font-size: 8em;
  
  i {
    position: absolute;
    bottom: 52%;
    left: 38%;
    cursor: pointer;  
  }
}

.roles {
  margin-bottom: 20px;  
}

.roles .well {
  display: block;
  float: none;
  margin: 0 auto;
  height: auto;
  width: 70%;
  text-align: center;
}

.roles:nth-child(3n + 1) {
  margin-left: 0;
}

.roles-row { 
  margin-bottom: 30px;  
}

/*Royal Slider Mods*/

.royalSlider {
  .rsSlide {
    .transition(all 1s ease-out);
  }
  
  .rsSlide.right-slide {
    .transform(perspective(800px) rotateY(-45deg) ) !important;
  }
  
  .rsSlide.left-slide {
    .transform(perspective(800px) rotateY(45deg) ) !important;
  }
  
  .rsSlide.rsActiveSlide {
    z-index: 10;
    
    .transform(perspective(1000px) rotateY(0deg) ) !important;
  }
  
  .rsSlide img {
    border: 5px transparent solid;
    .border-radius(20px);
    
  }
  
  .rsVisibleNearbyWrap {
    overflow-y: visible;
  }
}


/* Projects Search/Index */

section.projects-search {
  margin-top: 30px;
  
  .search-column {
    padding: 10px;
    border: 4px solid #333;
    .box-shadow(~'0px 7px 11px 1px #333333, 0px -2px 11px 1px #333333');
    input {
      width: 80%;
    }
  }
  
  .projects-box:nth-child(3n + 1) {
    margin-left: 0;
  }
  
  .projects-description-more {
    position: relative;
    top: -10px;
    text-align: right;
  }
  
  .icon-search {
    cursor: pointer;
  }
  
  .projects-box {
    border: solid 3px #444;
    padding: 10px;
    margin-bottom: 20px;
    overflow: hidden;
    
    a, a:hover, a:active, a:visited {
      text-decoration: none;
      color: #333;
    }
    
    .title {
      font-size: 2em;
      margin-top: 0px;
    }
    
    .profile-image {

      border: 3px solid #333;
    }
    
    .name-location {
      text-align: center;
      
      span {
        display: block;
      }
      
      .open-roles {
        color: #c00;
      }
      
      .message-button-container {
        padding: 5px;
        margin-top: 5px;
        font-weight: bolder;
      }
      
      .message-button {
        background: @backgroundButtonColor;
        background: -webkit-linear-gradient(rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.5) 100%), @backgroundButtonColor repeat;
        background: -moz-linear-gradient(rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.5) 100%), @backgroundButtonColor repeat;
        background: -ms-linear-gradient(rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.5) 100%), @backgroundButtonColor repeat;
        background: -o-linear-gradient(rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.5) 100%), @backgroundButtonColor repeat;
        background: linear-gradient(rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.5) 100%), @backgroundButtonColor repeat;
        
        text-decoration: none;
        color: @black;
        padding: 4% 12%;
        cursor: pointer;
      }
      
      .message-button:hover {
        background: darken(@backgroundButtonColor, 20%);
        background: -webkit-linear-gradient(rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.5) 100%), darken(@backgroundButtonColor, 20%) repeat;
        background: -moz-linear-gradient(rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.5) 100%), darken(@backgroundButtonColor, 20%) repeat;
        background: -ms-linear-gradient(rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.5) 100%), darken(@backgroundButtonColor, 20%) repeat;
        background: -o-linear-gradient(rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.5) 100%), darken(@backgroundButtonColor, 20%) repeat;
        background: linear-gradient(rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.5) 100%), darken(@backgroundButtonColor, 20%) repeat;
        border-color: darken(@backgroundButtonColor, 20%);
      }
    }
    
    .thumbnail-details {
      margin-top: 20px;
      
      .project-description {
        font-size: 0.8em;
      }
      
      .roles-container {

      }
      
      .role-name {
        display: inline-block;
        padding-right: 20px;
        margin-bottom: 10px;
      }
    }
    
    hr {
      margin: 0;
      border: 1px solid #444;
    }
    
  }
}


/* End Projects Search/Index */
