// Profile Lightbox
.lightbox {
	background-color: transparent;
	display: block;
	text-align: center;
	line-height: 0;
	z-index: 1050;
	position: relative;
	top: 70px;
	
}
.lightbox-content {
	display: inline-block;
	padding: 10px;
	background-color: #ffffff;
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, 0.3);
	*border: 1px solid #999;
	/* IE6-7 */
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
}

// Profile photo

figure.profile-pic {
  // border: 1px solid white;
  -webkit-box-shadow: 0px 0px 3px rgba(51, 51, 51, 0.2);
  -moz-box-shadow: 0px 0px 3px rgba(51, 51, 51, 0.2);
  box-shadow: 0px 0px 3px rgba(51, 51, 51, 0.2);
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

figure.profile-pic > img {
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.profile-pic img{
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.thumbnail-figure {
  position: relative;
}

.thumbnail-figure > i {
  color: rgba(255, 255, 255, 0.8);
  font-size: 50px;
  top: 50%;
  left: 50%;
  margin-left: -31px;
  margin-top: -14px;
  position: absolute;
}

.location-modal-button {
  cursor: pointer;
}

.centered-buttons {
  text-align: center;
}

.pictures-contact-buttons {
  margin-top: 15px;
  text-align: center;
}

.pictures-button {
  
}

.contact-button {
  
}

.about-me {

}

.roles-container {
  margin-top: 20px;
  text-align: center;
}

.bio-more {
  text-align: right;
  
}
.bio-more .hidden {
  display: none;
}

.role-column{
  text-align: center;
}

.projects-characteristics {
  margin-top: 25px;
}

#message-modal {
  width: 60%;
}

.actor-characteristics {
  margin-top: 20px;
}

.role-modal {
  width: 60%;
}

/* Styles for user edit form */

.edit-user {
  margin-bottom: 80px;
  
  /* It would be nice to figure out the best way to make the forms/text size more responsive
  #navigation {
      @media only screen and (max-width: 1350px) {
        li {
          font-size: 75%;
        }
      }
      
      @media only screen and (max-width: 750px) {
        li {
          font-size: 50%;
        }
      }
    }*/
  
}
.user-form {
  form {
    .info .gender input {
      float: left;
      margin-left: 10px;
    }
    
    .info .gender label {
      float: left;
    }
    
    .location img {
      margin-top: 20px;
    }
    
    .location i {
      position: relative;
      top: 30px;
      left: 5px;
    }
    
    .roles .controls {
      text-align: left;
      
    }
    
    .roles .control-group h3 {
      text-align: left;
      margin-left: 1em;
    }
    
    .roles .actor-characteristics {
      margin-bottom: 20px;
      input {
        width: 8em;
      }
    }
    
    .videos h3 {
      margin-left: 10px;
    }
    
    h2 {
      margin-left: 10px;
      text-align: left;
    }
    
    .terms .form-actions {
      background-color: transparent;
      margin-bottom: 0px;
      padding-bottom: 0px;
    }
    
    .input-error {
      background-color: #FFEDEF;
    }
  }
}

/* Overriding CSS in order to create nice modal photo gallery */

#photos-modal.fade.in {
  top: 5%;
}

#photos-modal {
  background-color: transparent;
  border: medium none;
  border-radius: 0 0 0 0;
  box-shadow: none;
  height: 90%;
  outline: medium none;
  width: 70%;
  left: 15%;
  margin-left: 0;
  
  .modal-body {
    height: 100%;
    overflow-y: visible;
    position: relative;
    max-height: 100%;
    color: #fff;
    
    .carousel {
      height: 100%;
      
      .carousel-inner {
        width: 100%;
        height: 100%;
        overflow: visible;
        
        .item.active, .item.next, .item.prev {
          display: table;
          text-align: center;
          width: 100%;
          height: 100%;
          .item-container {
            display: table-cell;
            vertical-align: middle;
          }
          img {
            vertical-align: middle;
            padding-bottom: 10px;
          }
        }
      }
    }
  }
}

/* End modal photo gallery */


/* User Index Page */

.users-search .search-results .row-fluid .span4:nth-child(3n + 1) {
  margin-left: 0;
}

/* End user Index Page */
 

/* User Profile Page */
        
@backgroundButtonColor: #bfbfbf;
.user-header {
  
  .header-bubble {
    background: url('user_body_texture.png') repeat;
    background: -webkit-linear-gradient(rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.5) 100%), url('user_body_texture.png') repeat;
    background: -moz-linear-gradient(rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.5) 100%), url('user_body_texture.png') repeat;
    background: -ms-linear-gradient(rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.5) 100%), url('user_body_texture.png') repeat;
    background: -o-linear-gradient(rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.5) 100%), url('user_body_texture.png') repeat;
    background: linear-gradient(rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.5) 100%), url('user_body_texture.png') repeat;
    margin: 20px 0px;
    .box-shadow(0px 10px 10px #333);
    color: #fff;
    
    .modal {
      color: #333;
    }
    
    .right-content {
      position: relative;
      padding-bottom: 10px;
      display: table;
      
      > div {
        display: table-row;
      }
      
      .follow-buttons {
        
        display: table-cell;
        vertical-align: bottom;
        
        > div {
          color: @black;
          background: @backgroundButtonColor;
          background: -webkit-linear-gradient(rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.5) 100%), @backgroundButtonColor;
          background: -moz-linear-gradient(rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.5) 100%), @backgroundButtonColor;
          background: -ms-linear-gradient(rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.5) 100%), @backgroundButtonColor;
          background: -o-linear-gradient(rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.5) 100%), @backgroundButtonColor;
          background: linear-gradient(rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.5) 100%), @backgroundButtonColor;
          .box-shadow(0px 10px 10px -5px #F00);
          
          padding: 5px 0;
          
          h5 {
            margin: 0;
          }
        }
      }
    }
  }
  
  .details div {
    margin-top: 15px;
  }

  .profile-pic {
    padding: 10%;
    width: 60%;
    
    img {
      border: solid 10px #333;
      
      /*.border-radius(10px);*/
    }
  }
  
  .talents-thumbnail img{
    padding: 25%;
    width: 50%;
  }
  
  
  .headline {
    margin: 10px 0;
  }
  
  .camera-heart {
    position: relative;
  }
  
  .camera-heart img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -21px;
    margin-top: -18px;
  }
  
  .message-button {
    background: @backgroundButtonColor;
    background: -webkit-linear-gradient(rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.5) 100%), @backgroundButtonColor repeat;
    background: -moz-linear-gradient(rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.5) 100%), @backgroundButtonColor repeat;
    background: -ms-linear-gradient(rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.5) 100%), @backgroundButtonColor repeat;
    background: -o-linear-gradient(rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.5) 100%), @backgroundButtonColor repeat;
    background: linear-gradient(rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.5) 100%), @backgroundButtonColor repeat;
    /*.border-radius(~'10px / 5px');*/
    text-decoration: none;
    color: @black;
    padding: 4% 12%;
    cursor: pointer;
  }
  .message-button:hover {
    /* Overriding a weird bootstrap property */
    background-position: 0px 33px;
    background: darken(@backgroundButtonColor, 20%);
    background: -webkit-linear-gradient(rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.5) 100%), darken(@backgroundButtonColor, 20%) repeat;
    background: -moz-linear-gradient(rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.5) 100%), darken(@backgroundButtonColor, 20%) repeat;
    background: -ms-linear-gradient(rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.5) 100%), darken(@backgroundButtonColor, 20%) repeat;
    background: -o-linear-gradient(rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.5) 100%), darken(@backgroundButtonColor, 20%) repeat;
    background: linear-gradient(rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.5) 100%), darken(@backgroundButtonColor, 20%) repeat;
    border-color: darken(@backgroundButtonColor, 20%);
  }
  
  .message-row {
    margin-bottom: 30px;
    font-weight: bold;
  }

}

.user-body {
  
  margin-bottom: 50px;

  .menu {  
    
    .active {
      background-color: #ddd;
    }
    
    .user-menu.active .button-tab {
      display: block;
    }
    
    .user-menu {
      
      @menuButtonColor: #555;
        
      position: relative;
        
      margin-right: 5px;
      margin-bottom: 30px;
      margin-left: 5px;
  
      border: 1px solid #494949;
      /*border-radius: 5px;*/
  
      background-color: @menuButtonColor;
      background-image: linear-gradient(90deg, #525252, dimgray);
  
      box-shadow: 
          inset 0 1px 0 0 rgba(255,255,255,0.4),
          inset 0 0 5px 0 rgba(255,255,255,0.2),
          inset 0 67px 67px -40px rgba(255,255,255,0),
          0 2px 0 0 #2e2e2e,
          0 3px 6px 0 rgba(0,0,0,0.4);
      transition: 
          box-shadow 230ms ease-in-out,
          transform 230ms ease-in-out,
          border-color 230ms ease-in-out;
  
      font-family: 'Montserrat', sans-serif;
      color: white;
      font-size: 23px;
      line-height: 20px;
      font-weight: 400;
      text-align: left;
      text-decoration: none;
      text-shadow: 0 1px 1px rgba(0,0,0,0.27);
  
      vertical-align: middle;
      cursor: pointer;
      
      display: table;
      
      .button-tab {
        display: none;
        position: absolute;
        right: -15px;
        z-index: -1;
        height: 100%;
        top: 1px;
      }
      
      .item {
        display: table-cell;
        vertical-align: middle;
      }
        
      .arrow.item {
        right: 5px;
        position: relative;
        text-align: right;
        
        img {
          z-index: 0;
          position: relative;
          width: 18px;
          height: 22px;
        }
      }
      
      .item.name {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
    
    .user-menu:hover {
      border-color: rgba(73,73,73,0.5);
      box-shadow: 
        inset 0 1px 0 0 rgba(255,255,255,0.6),
        inset 0 0 5px 0 rgba(255,255,255,0.2),
        inset 0 67px 67px -40px rgba(255,255,255,0.3),
        0 2px 0 0 #2e2e2e,
        0 3px 8px 0 rgba(0,0,0,0.4);
    }
    
    .user-menu.active {
      box-shadow: 
        inset 0 1px 0 0 rgba(255,255,255,0),
        inset 0 1px 7px -1px rgba(0,0,0,0.35),
        inset 0 67px 67px -40px rgba(255,255,255,0),
        0 2px 0 0 #2e2e2e,
        0 3px 8px 0 rgba(0,0,0,0);
      transform: translate(0px, 2px);
    }
  }
  
  .content {
    box-shadow: 
          inset 0 1px 1px 0 rgba(255,255,255,0.4),
          inset 0 0 5px 0 rgba(255,255,255,0.2),
          inset 0 67px 67px -40px rgba(255,255,255,0),
          0 2px 0 0 #2e2e2e,
          0 3px 6px 0 rgba(0,0,0,0.4);
          
    border: 1px solid #494949;
          
    margin-left: 0px;
    z-index: 1;
    position: relative;
    /*.border-radius(10px);*/
    background: #555;
    min-height: 600px; 
    padding-bottom: 50px;
   /*.box-shadow(0px 10px 10px #333);*/
    color: @white;
    
    .title {
      h1 {
        float: left;
        padding: 10px;
        /*.border-radius(2px);*/
      }
      
    }
    
    .role-description {
      margin-top: 40px;
      padding: 10px;
      /*.border-radius(2px);*/
    }
    
    .pictures {
      overflow: hidden;
      
      .carousel {
      
        margin-top: 50px;
        height: 100%;
         
        .carousel-control {
          top: 50px;
        }
        
        .carousel-inner {
          width: 100%;
          height: 100%;
          overflow: visible;
          
          .item.active, .item.next, .item.prev {
            display: table;
            text-align: center;
            width: 100%;
            height: 100%;
            .item-container {
              display: table-cell;
              vertical-align: middle;
            }
            img {
              vertical-align: middle;
              padding-bottom: 10px;
            }
          }
        }
      }
    }
  }
}
