// Profile Lightbox
.lightbox {
	background-color: transparent;
	display: block;
	text-align: center;
	line-height: 0;
	z-index: 1050;
	position: relative;
	top: 70px;
	
}
.lightbox-content {
	display: inline-block;
	padding: 10px;
	background-color: #ffffff;
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, 0.3);
	*border: 1px solid #999;
	/* IE6-7 */
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
}

// Profile photo

figure.profile-pic {
  // border: 1px solid white;
  -webkit-box-shadow: 0px 0px 3px rgba(51, 51, 51, 0.2);
  -moz-box-shadow: 0px 0px 3px rgba(51, 51, 51, 0.2);
  box-shadow: 0px 0px 3px rgba(51, 51, 51, 0.2);
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

figure.profile-pic > img {
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.profile-pic img{
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.thumbnail-figure {
  position: relative;
}

.thumbnail-figure > i {
  color: rgba(255, 255, 255, 0.8);
  font-size: 50px;
  top: 50%;
  left: 50%;
  margin-left: -31px;
  margin-top: -14px;
  position: absolute;
}

.location-modal-button {
  cursor: pointer;
}

.centered-buttons {
  text-align: center;
}

.pictures-contact-buttons {
  margin-top: 15px;
  text-align: center;
}

.pictures-button {
  
}

.contact-button {
  
}

.about-me {

}

.roles {
  margin-top: 20px;
  text-align: center;
}

.bio-more {
  text-align: right;
  
}
.bio-more .hidden {
  display: none;
}

.role-column{
  text-align: center;
}

.projects-characteristics {
  margin-top: 25px;
}

#message-modal {
  width: 60%;
}

.actor-characteristics {
  margin-top: 20px;
}

.role-modal {
  width: 60%;
}

/* Overriding CSS in order to create nice modal photo gallery */

.photos-modal .modal-body{
  overflow-y: hidden;
  
}

.photos-modal .modal-header {
  border: none;
}

#photos-modal {
  background: transparent;
  border: none;
  -webkit-box-shadow: 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
}

.carousel-inner { text-align: center; }

.carousel .item > img { display: inline-block; }

.carousel-control.right {
  right: 0;
}

.carousel-control.left {
  left: 0;
}

/* End modal photo gallery */
