// Profile Lightbox
.lightbox {
	background-color: transparent;
	display: block;
	text-align: center;
	line-height: 0;
	z-index: 1050;
	position: relative;
	top: 70px;
	
}
.lightbox-content {
	display: inline-block;
	padding: 10px;
	background-color: #ffffff;
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, 0.3);
	*border: 1px solid #999;
	/* IE6-7 */
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
}

// Profile photo

figure.profile-pic {
  // border: 1px solid white;
  -webkit-box-shadow: 0px 0px 3px rgba(51, 51, 51, 0.2);
  -moz-box-shadow: 0px 0px 3px rgba(51, 51, 51, 0.2);
  box-shadow: 0px 0px 3px rgba(51, 51, 51, 0.2);
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

figure.profile-pic > img {
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.profile-pic img{
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.thumbnail-figure {
  position: relative;
}

.thumbnail-figure > i {
  color: rgba(255, 255, 255, 0.8);
  font-size: 50px;
  top: 50%;
  left: 50%;
  margin-left: -31px;
  margin-top: -14px;
  position: absolute;
}

.centered-buttons {
  text-align: center;
}

.pictures-contact-buttons {
  margin-top: 15px;
  text-align: center;
}

.pictures-button {
  
}

.contact-button {
  
}

.about-me {

}

.roles-container {
  margin-top: 20px;
  text-align: center;
}

.bio-more {
  text-align: right;
  
}
.bio-more .hidden {
  display: none;
}

.role-column{
  text-align: center;
}

.projects-characteristics {
  margin-top: 25px;
}

#message-modal {
  width: 60%;
}

.actor-characteristics {
  margin-top: 20px;
}

.role-modal {
  width: 60%;
}

/* Styles for user edit form */

.edit-user {
  margin-bottom: 80px;
  
  /* It would be nice to figure out the best way to make the forms/text size more responsive
  #navigation {
      @media only screen and (max-width: 1350px) {
        li {
          font-size: 75%;
        }
      }
      
      @media only screen and (max-width: 750px) {
        li {
          font-size: 50%;
        }
      }
    }*/
  
}
.user-form {
  form {
    .info .gender input {
      float: left;
      margin-left: 10px;
    }
    
    .info .gender label {
      float: left;
    }
    
    .location img {
      margin-top: 20px;
    }
    
    .location i {
      position: relative;
      top: 30px;
      left: 5px;
    }
    
    .roles .controls {
      text-align: left;
      
    }
    
    .roles .control-group h3 {
      text-align: left;
      margin-left: 1em;
    }
    
    .roles .actor-characteristics {
      margin-bottom: 20px;
      input {
        width: 8em;
      }
    }
    
    .videos h3 {
      margin-left: 10px;
    }
    
    h2 {
      margin-left: 10px;
      text-align: left;
    }
    
    .terms .form-actions {
      background-color: transparent;
      margin-bottom: 0px;
      padding-bottom: 0px;
    }
    
    .input-error {
      background-color: #FFEDEF;
    }
  }
}

/* Overriding CSS in order to create nice modal photo gallery */

#photos-modal.fade.in {
  top: 5%;
}

#photos-modal {
  background-color: transparent;
  border: medium none;
  border-radius: 0 0 0 0;
  box-shadow: none;
  height: 90%;
  outline: medium none;
  width: 70%;
  left: 15%;
  margin-left: 0;
  
  .modal-body {
    height: 100%;
    overflow-y: visible;
    position: relative;
    max-height: 100%;
    color: #fff;
    
    .carousel {
      height: 100%;
      
      .carousel-inner {
        width: 100%;
        height: 100%;
        overflow: visible;
        
        .item.active, .item.next, .item.prev {
          display: table;
          text-align: center;
          width: 100%;
          height: 100%;
          .item-container {
            display: table-cell;
            vertical-align: middle;
          }
          img {
            vertical-align: middle;
            padding-bottom: 10px;
          }
        }
      }
    }
  }
}

/* End modal photo gallery */


/* User Index Page */

.users-search .search-results .row .span4:nth-child(3n + 1) {
  margin-left: 0;
}

/* End user Index Page */
 

/* User Profile Page */

@backgroundButtonColor: #bfbfbf;
.user-header {
  
  .header-bubble {
    height: 150px;
    background-color: @white;
    margin: 20px 0px;
    .box-shadow(0px 0px 12px 0px #cdcdcd);
    color: @black;
    position: relative;
    
    .profile-pic {
      img {
        width: 200px;
        .border-radius(0px);
      }
    }
    
    .modal {
      color: #333;
    }
    
    .right-content {
      position: relative;
      display: table;
      float: right;
      padding-right: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
      color: #666;
      font-weight: 800;
      
      .btn-link {
        color: #666;
        font-weight: 400;
      }
      
      .headline {
         .modal {
           font-weight: 400;
           
         }
      }
    }
  }
  
  .details {
    
    color: #666;
    
    h3 {
      font-size: 1.7em;
      background: url("underline_background.png") repeat-x 100% 100%;
      padding-bottom: 0px;
      white-space: nowrap;
    }
    
    .location-modal-button {
      cursor: pointer;
    }
      
    font-size: 1em;
    
    .talents {
      text-align: center;
    }
    
  }
  
  .right-content {
    color: #666;
  }
  
  .details div {
    margin-top: 15px;
  }
  
  .headline {
    margin: 5px 0;
  }
  
  .message-button {
    background-color: #5a86de;
    border: 1px solid #ccc;
    .border-radius(5px);
    text-decoration: none;
    color: @white;
    cursor: pointer;
    font-weight: 400;
    font-size: 1.4em;
    padding: 5px;
    
  }
  .message-button:hover {
    background-color: darken(#5a86de, 10%);
  }
  
  .message-row {
    margin-bottom: 0px;
    bottom: -25px;
    font-weight: bold;
    position: absolute;
  }

}

.user-body {
  
  a, a:hover, a:visited, a:active {
    text-decoration: none;
    color: @black;
  }
  
  .follow-container {
    width: 202px;
    border: 1px solid #ccc;
    margin-top: 10px;
    
    .follow-button {
      position: relative;
      left: 50%;
      margin-left: -50px;
      margin-top: 10px;
      background-color: #666;
      width: 100px;
      .border-radius(5px);
      color: @white;
      text-align: center;
      vertical-align: middle;
      padding: 4px 0;
      cursor: pointer;
      
      a {
        color: @white;
      }
      
      img {
        width: 25px;
      }
    }
    
    .follow-images {
      
      padding: 10px 0;
      img {
        display: inline;
        float: left;
        padding: 0;
        margin: 0;
      }
    }
    
    .follow-counts {
      text-align: center;
      margin-bottom: 10px;
      
      .numbers {
        width: 45%;
        color: @white;
        display: inline-block;
        vertical-align: middle;
        line-height: 2em;
        background-color: #666;
        .border-radius(5px);
        text-align: center;
      }
    }
    
    .follow-button:hover {
      background-color: darken(#666, 10%);
    }
  }
  
  .about-container {
    margin-bottom: 40px;
    
    .about-title {
      border: 1px solid #ccc;
      color: #4c99c0;
      font-size: 1em;
      width: 80px;
      padding: 10px;
      background-color: #f7f7f7;
      z-index: 5;
      position: relative;
    }
    
    .about-content {
      background-color: @white;
      color: #4c99c0;
      border: 1px solid rgba(205, 205, 205, 0.19);
      padding-top: 35px;
      margin-top: -30px;
      margin-left: 10px;
      position: relative;
      width: 80%;
      height: 190px;
      
      > div {
        padding: 10px;
        width: 70%;
      }
      
      .more-button {
        z-index: 5;
        position: relative;
      }
      
      .modal {
        color: @black;
      }
    }
    
    .first-pic {
      img {
        width: 200px;
        position: absolute;
        top: -30px;
        right: -70px;
      }
    }
    
    .second-pic {
      img {
        width: 125px;
        position: absolute;
        right: -100px;
        top: 120px;
      }
    }
  }
  
  .links-container {
    .box-shadow(0px 0px 2px 1px #d4d4d4);
    
    background-color: @white;
    text-align: center;
    line-height: 2em;
    padding-top: 20px;
    padding-bottom: 15px;
    margin-bottom: 30px;
    
    .user-menu {
      display: inline;
      color: #4c99c0;
      cursor: pointer;
      font-size: 2em;
      padding: 30px;
      font-weight: 800;
      
    }
    
    .user-menu:hover {
      color: darken(#4c99c0, 10%);
    }
    
    .user-menu.active {
      text-decoration: underline;
    }
  }
  
  .body-content-container {
    background-color: @white;
    .box-shadow(0px 0px 2px 1px #e5e5e5);
    margin-bottom: 50px;
  }
  
}
