@charset "utf-8";
/* CSS Document */

.lft{float:left; display:inline;}
.rgt{float:right; display:inline;}
.clr{clear:both;}
.brdr{border:solid 1px #000;}
img{ border:none;}
h1,p,h2,h3,h4,h5,h6,form,div,ul,li{margin:0px; padding:0px; text-align:left;}

a{text-decoration:none; border:none; color:#fff; outline:none;}

.map{padding:0px; margin:0px;}
.input{margin:0px; padding:0px; display:inline;}


body { margin:0px; padding:0px; height:auto; width:100%; border:none; background:url(bg-main.jpg) repeat;  }

@font-face {
    font-family: 'Arial';
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Arial';
    font-weight: normal;
    font-style: normal;
}





.wrap_main				{width:600px; height:auto; margin:auto; }

/*============================= main css start=====================================*/


.film_zu 					{width:600px; height:auto; float:left; background-color:#edf2f8; box-shadow: 0 0 17px #5b5c5b; margin-top:50px; }
.top_logo					{width:auto; height:auto; float:left; }
.top_logo img				{width:auto; height:auto; float:left; }
.its_nice					{width:520px; height:auto; float:left;  margin-left:35px; margin-top:25px; }
.its_nice h1				{width:520px; height:auto; float:left; font-weight:normal; font-size:18px; font-family: 'sintonyregular'; color:#515961;
               		          text-align:center; padding:15px 0 15px 0; }		
.its_nice h2				{width:520px; height:auto; float:left; font-weight:bold; font-size:27px; font-family: 'sintonyregular'; color:#515961; text-align:center; }		
.its_nice p					{width:520px; height:auto; float:left; font-weight:normal; font-size:14px; font-family: 'sintonyregular'; color:#515961;
							 text-align:center; margin-top:20px; line-height:20px; }		
.its_nice p	span			{width:520px; height:auto; float:none; font-weight:bold; font-size:14px; font-family: 'sintonyregular'; color:#515961; text-align:center; }		

.diffrent					{width:520px; height:auto; float:left; margin-left:35px; }
.diffrent p					{width:520px; height:auto; float:left; font-weight:normal; font-size:14px; font-family: 'sintonyregular'; color:#515961;
							 text-align:justify; margin-top:20px; line-height:20px; }
.diffrent p	span			{width:520px; height:auto; float:none; font-weight:bold; font-size:14px; font-family: 'sintonyregular'; color:#515961; text-align:center; }		
.people_main				{width:600px; height:auto; float:left; background-color:#d4d8dc; margin:35px 0 0 0px; }
.people_one					{width:180px; height:auto; float:left; margin:20px 0 0 15px; }
.connect_main				{width:180px; height:auto; float:left; }
.connect_main img			{width:auto; height:auto; float:left; }
.connect_main h1			{width:170px; height:auto; float:left; font-weight:normal; font-size:12px; color:#666; font-family: 'maven_proregular'; text-align:center;  }
.create_button				{width:279px; height:54px; float:left; margin:35px 0 0 150px; padding-bottom:30px; }
.create_button 				{width:279px; height:54px; float:left; background:url(create.png) no-repeat; }
.create_button:hover		{width:279px; height:54px; float:left; background:url(Main-CTA.png) no-repeat;	 }

.cheers_bottom				{width:220px; height:auto; float:left; margin:25px 0 0 23px; }
.cheers_text				{width:120px; height:auto; float:left; margin:15px 0 0 13px; }
.cheers_text h1				{width:120px; height:auto; float:left;font-weight:normal; font-size:14px; font-family: 'sintonyregular'; color:#515961; padding-bottom:5px; }
.cheers_text h2				{width:120px; height:auto; float:left;font-weight:bold; font-size:14px; font-family: 'sintonyregular'; color:#515961; }
.video_icon					{width:auto; height:auto; float:right; }
.video_icon img				{width:auto; height:auto; float:right; margin-top:10px; padding-bottom:40px; }
.copy_right					{width:500px; height:auto; float:left; padding:20px 0 15px 30px; }
.copy_right h1				{width:auto; height:auto; float:left; font: normal 12px calibri; color:#fff; }

/*============================= main css end	=====================================*/













