<h1>Friends' Activities</h1>

<% @activities.each do |activity| %>
  
  <% user = activity.owner || activity.user || User.new %>

  <!-- Print activity only if the trackable object is present -->
  <% if activity.trackable %>
    <div class="activity">
      <%= image_tag user.profile_pic, :class => "producer-image", :width => 70 %>
      <%= link_to user.name, user  %>
      <%= render_activity activity %>
    </div>
  <% end %>

<% end %>
