<div id='crop_image_modal' class="modal hide fade span9" data-keyboard='false' data-backdrop='static'>
  <div class="modal-header">
    <h3 class='cover-header'>Crop Image</h3>
  </div>
  
  <div class="modal-body">

    <div class='prev_container'>
      <div class='crop_preview_container' style='width: 100px; height: 100px'>
        <img id='crop_preview_area' src="">
      </div>
      <div class='span4 prev_text'>
        This is how the image will look after you save. 
      </div>
    </div>

    <div id='crop_area'>
      <img src="" id='cropping_image' class='img-rounded'>
    </div>
  </div>

  <div class="modal-footer">
    <a href="#" class="btn reset_close" data-dismiss='modal'>Cancel</a>
    <a href="#" class="btn crop_now" data-dismiss='modal' style='display:none;'>Done</a>
  </div>

  <script type="text/javascript">
    $('body').on( 'click', '.btn.reset_close', function(event){
      // app.fn.reset_cropped_image("150px","150px");
    });

    $('body').on( 'click', '.btn.crop_now', function(event){
      app.fn.crop_now();
    });

  </script>

</div>