<!--========= footer starts======------>
<div class="footerwrap">
  <footer class="footer maincontain container-fluid">
    <div class="flogo"><img src="/assets/flogo.png" alt="" /></div>
    
    <div class="cright regular">
      © Copyright 2013 Filmzu. All Rights Reserved.
    </div>
    
    <div class="flist row-fluid">
    <ul class="footlist">
      <li class='pull-left light'>
        Etiam id nunc sapien Donec ullamcorper In porttitor eros
      </li>
      <li class='pull-left light'>
        Etiam id nunc sapien Donec ullamcorper In porttitor eros
      </li>
      <li class='pull-left light'>
        Etiam id nunc sapien Donec ullamcorper In porttitor eros
      </li>
    </ul>
    </div>
  </footer>
</div>
<!--========= footer ends======------>