<!--========= footer starts======------>
<div class="footerwrap">
  <footer class="footer maincontain container">
    <div class="flogo"><img src="/assets/flogo.png" alt="" /></div>
    
    <div class="cright regular">
      © Copyright 2013 Filmzu. All Rights Reserved.
    </div>
    
    <div class="flist row">
    <ul class="footlist">
      <li class='pull-left light'>
        <a href="http://filmzu.com/skills">Blog</a>
      </li>
      <li class='pull-left light'>
        <a href="https://www.facebook.com/Filmzu">Facebook</a>
      </li>
      <li class='pull-left light'>
        <a href="https://twitter.com/thefilmzu">Twitter</a>
      </li>
    </ul>
    </div>
  </footer>
</div>
<!--========= footer ends======------>