<!--========= footer starts======------>
<div class="footerwrap">
  <footer class="footer maincontain container">
    <div class="flogo"><img src="/assets/flogo.png" alt="" /></div>
    
    <div class="cright regular">
      © Copyright 2013 Filmzu. All Rights Reserved.
    </div>
    
    <div class="flist row pull-left">
      <ul class="footlist">
        <li class='pull-left light'>
          Etiam id nunc sapien Donec ullamcorper In porttitor eros
        </li>
        <li class='pull-left light'>
          Etiam id nunc sapien Donec ullamcorper In porttitor eros
        </li>
        <li class='pull-left light'>
          Etiam id nunc sapien Donec ullamcorper In porttitor eros
        </li>
      </ul>
    </div>

    <div class='row share_area text-center'>
      <div class="social-share-button" data-title="Filmzu" data-img="" data-url="">
        <a href="http://twitter.com/filmzu" target='_blank' class="social-share-button-twitter" data-site="twitter"></a>
        <a href="http://facebook.com/filmzu" target='_blank' class="social-share-button-facebook" d ata-site="facebook"></a>
        <a href="http://plus.google.com/filmzu" target='_blank' class="social-share-button-google_plus" data-site="google_plus"></a>
        </div>
    </div>
  </footer>
</div>
<!--========= footer ends======------>