<script type="script/template" id='blog_activity_template'>
  
  <div class='activity_summary'>
    <a href='users/'<%%= owner.id %>> <%%= owner.name %> </a>
    <%% if(key == 'blog.create'){ %>
      <%= render :partial => 'public_activity/blog/create' %>
    <%% }else if(key == 'blog.update'){ %>
      <%= render :partial => 'public_activity/blog/update' %>
    <%% } %>
  </div>

  <%% if (trackable.photo != null) { %>
    <div class='comment-img'>
      <div class='img-container' style='background:url(<%%= trackable.photo.image.url %>)'>
      </div>
    </div>
  <%% } %>

  <%% if (trackable.video != null && trackable.video.provider != null) { %>
    <div class='comment-video'>
      <%%= trackable.video.embed_code %>
    </div>
  <%% } %>
  
  <%%= trackable.content %>

</script>

<script type="script/template" id='comment_activity_template'>

  <div class='activity_summary'>
    <a href='users/'<%%= owner.id %>> <%%= owner.name %> </a>
    <%% if(key == 'comment.create'){ %>
      posted a <%%= trackable.commentable_type %> update to
      <a href='<%%= trackable.commentable_type.toLowerCase() %>/<%%= trackable.commentable.id %>'> <%%= trackable.commentable.title %> </a>
    <%% }else if(key == 'comment.update'){ %>
      edited a <%%= trackable.commentable_type %> update to
      <a href='<%%= trackable.commentable_type.toLowerCase() %>/<%%= trackable.commentable.id %>'> <%%= trackable.commentable.title %> </a>
    <%% } %>
    <br/>
  </div>

  <%% if (trackable.photo != null) { %>
    <div class='comment-img'>
      <div class='img-container' style='background:url(<%%= trackable.photo.image.url %>)'>
      </div>
    </div>
  <%% } %>

  <%% if (trackable.video != null && trackable.video.provider != null) { %>
    <div class='comment-video'>
      <%%= trackable.video.embed_code %>
    </div>
  <%% } %>

  <%%= trackable.content %>



</script>

<script type="script/template" id='project_activity_template'>

  <div class='activity_summary'>
    <a href='users/'<%%= owner.id %>> <%%= owner.name %> </a>
    <%% if(key == 'project.create'){ %>
      created a Project called
      <a href='project/<%%= trackable.id %>'> <%%= trackable.title %> </a>
    <%% }else if(key == 'project.update'){ %>
      updated the Project
    <%% } %>
  </div>

  <a href='project/<%%= trackable.id %>'> <%%= trackable.title %> </a>

</script>

<script type="script/template" id='roleapplication_activity_template'>

  <div class=''>
    <a href='users/'<%%= owner.id %>> <%%= owner.name %> </a>
    
    <%% if(key == 'role_application.create'){ %>
      has applied for the <%%= trackable.role.name %> (<%%= trackable.role.subrole %>) role in <a href='project/<%%= trackable.role.project.id %>'> <%%= trackable.role.project.title %> </a>
    <%% } %>

  </div>

  <a href='project/<%%= trackable.id %>'> <%%= trackable.title %> </a>

</script>


<script type="script/template" id='endorsement_activity_template'>

  <div class=''>
    <a href='users/'<%%= owner.id %>> <%%= owner.name %> </a>
    <%% console.log(this) %>
    <%% if(key == 'endorsement.create'){ %>
      has endrosed <a href='users/<%%= trackable.receiver.id %>'> <%%= trackable.receiver.name %> </a>
    <%% } %>

  </div>

  <a href='project/<%%= trackable.id %>'> <%%= trackable.title %> </a>

</script>