<script type="script/template" id='applied_project_template'>
    <a href='/projects/<%%= url_param %>'>
      <div class='project-head'>
        <div class='project-backdrop'  style='background: url(<%%= display_medium %>) no-repeat'>
        </div>
        <div class='backdrop-cover'></div>
        <div class='project-title'>
          <%%= title %>
        </div>
        <div class='project-headline'> 
          <%%= headline %>
        </div>
      </div>
    </a>
    
    <div class='project-summary'>
      <div class='message pull-left'>
        <div class='status'> Status: <span class='status-text'><%%= status %></span></div>
        <a class='btn-message btn-custom btn-cement medium send-generic-message' data-message-subject='Regarding Role Application - <%%= title %>' data-message-header='Message Project Owner - <%%= title %>' data-message-recipients='<%%= user.email %>' >
          Message
        </a>
      </div>
      <div class='roles-summary pull-right'>
        <div class="role-circle-container">
          <div class="role-circle"> </div>
          <div class="circle-fill"> </div>

          <div class="circle-measure circle-measure-<%%= parseInt((parseFloat(filled_roles.length) / parseFloat(roles.length)) * 10) %>"> </div>
          <span class="role-count medium">
            <%%= open_roles.length %> Open Positions
          </span>
        </div>
      </div>
    </div> 
  
</script>