<script type="script/template" id='attending_events_template'> 
  <div class='row events-filter'>
    <a href="#attending-event-tab-upcoming" data-toggle='tab' class='badge badge-custom-green pull-left event-filter active'>
      UPCOMING
    </a>

    <a href="#attending-event-tab-popular" data-toggle='tab' class='badge badge-custom-green pull-left event-filter'>
      POPULAR
    </a>

    <a href="#attending-event-tab-past" data-toggle='tab' class='badge badge-custom-green pull-left event-filter'>
      PAST
    </a>
  </div>

  <div class='row'>
    <div class='tab-content events-display-tabs'>
      <div class='tab-pane active' id='attending-event-tab-upcoming'>
        
      </div>

      <div class='tab-pane' id='attending-event-tab-popular'>
        
      </div>

      <div class='tab-pane' id='attending-event-tab-past'>

      </div>
    </div>
  </div>

</script>