<script type="script/template" id='attending_events_template'> 
  <ul class='row events-filter custom-green-filters nav'>

    <li class='active'>
      <a href="#attending-event-tab-upcoming" data-toggle='tab' class='badge badge-custom-green pull-left event-filter active'>
        UPCOMING
      </a>
    </li>
    <li>
      <a href="#attending-event-tab-popular" data-toggle='tab' class='badge badge-custom-green pull-left event-filter'>
        POPULAR
      </a>
    </li>
    <li>
      <a href="#attending-event-tab-nearby" data-toggle='tab' class='badge badge-custom-green pull-left event-filter'>
        LOCATION
      </a>
    </li>
  </ul>

  <div class='row'>
    <div class='tab-content events-display-tabs'>
      <div class='tab-pane active' id='attending-event-tab-upcoming'>
        
      </div>

      <div class='tab-pane' id='attending-event-tab-popular'>
        
      </div>

      <div class='tab-pane' id='attending-event-tab-nearby'>
        
      </div>

    </div>
  </div>

</script>