<script type="script/template" id='conversation_template'>
  <div class='conv-sender'>
    <div class="img-circle user-circle-image" style="background: url(/uploads/User/image/98/medium_Profile_Image.jpg)">
    </div>
  </div>

  <div class='conv-details pull-left'>
    <div class='user-name'>
      Sample User
    </div>
    <div class='msg-preview'>
      Sample message for conv - <%%= id %>
    </div>
  </div>
  
</script>