<script type="script/template" id='manage_project_template'>

  <div class='project-head span11'>
    <div class='project-title span4'>
      <div class='row'>
        <div class='title medium'>
          <%%= title %>
        </div>
        <div class='manage-btns'>
          <a href='/projects/<%%= id %>/edit' class='manage-btn regular pull-left'>
            <div class='gear-grey'></div> Edit Project Settings
          </a>

          <%% if(status!='Completed'){ %>
            <a href='#' class='manage-btn pull-right regular mark_done'>
              <i class='icon-ok'></i> Mark Project Done
            </a>
          <%% } %>
        </div>
      </div>
      
    </div>
    
    <div id='project-fans' class='pull-left'>
      
    </div>
    

    <div class='project-roles-filled pull-left text-center'>
      <div class='row'>
        Roles Filled
      </div>
      <div class='row'>
        <div class="role-circle-container">
          <div class="role-circle"> </div>
          <div class="circle-fill"> </div>

          <div class="circle-measure circle-measure-<%%= roles_percent  %>"> </div>
        </div> 
      </div>

      <div class='btn-custom message-participants btn-dark-grey medium action-div' data-message-subject='Regarding Your role appliations - <%%= title %>' data-message-recipients='<%%= paricipant_mails %>' data-message-header='Message Participants - <%%= title %>'>
        <div class='pencil-black'></div> Message Participants
      </div>
    </div>

  </div>

  <div class='row'>
    <div class='span11' id='project-roles-main-container'>
      <div class='row'>
        <div class='span11' id='project-roles-circles'>

        </div>
      </div>

      <div class='row'>
        <div class='span11 dashboard-tab-heading secondary'>
          Applicants
        </div>
      </div>


      <div class='row'>
        <div class='span11' id='project-roles-filters'>
        
        </div>
      </div>

      <div class='row'>
        <div class='span11' id='project-roles-tabs'>
        
        </div>
      </div>

    </div>
  </div>

</script>