<script type="script/template" id='manage_project_template'>

  <div class='project-head span11'>
    <div class='project-title span4'>
      <div class='row'>
        <div class='title'>
          <%%= title %>
        </div>
      </div>
      
    </div>
    
    <div id='project-fans' class='span4'>
      
    </div>
    

    <div class='project-roles-filled span2'>
      <div class='row'>
        Roles Filled
      </div>
      <div class='row'>
        <div class="role-circle-container">
          <div class="role-circle"> </div>
          <div class="circle-fill"> </div>

          <div class="circle-measure circle-measure-<%%= roles_percent  %>"> </div>
        </div> 
      </div>

      <div class='row'>
        Manage Applications
      </div>
    </div>

  </div>

  <div class='row'>
    <div class='span11' id='project-roles-main-container'>
      <div class='row'>
        <div class='span11' id='project-roles-circles'>

        </div>
      </div>

      <div class='row'>
        <div class='span11' id='project-roles-filters'>
        
        </div>
      </div>

      <div class='row'>
        <div class='span11' id='project-roles-tabs'>
        
        </div>
      </div>

    </div>
  </div>

</script>