<script type="script/template" id='project_fans_template'>
  <div class="span4 project-fans-tiles" id='project-fans_list'>
    
    <%% if(this.collection.length > 8) { %>
      <div class="fan-img empty-grey-tile pull-left text-center">
        <div class='row grey-top-line'>
        </div>
        <div class='fans-extra-count'>
          +<%%= this.collection.length - 8 %>
        </div>
        MORE
      </div>
    <%% } else { %>
      <div class="fan-img empty-grey-tile pull-left text-center">
        <div class='row grey-top-line'>
        </div>
        <div class='fans-extra-count'>
          <%%= this.collection.length %>
        </div>
        FANS
      </div>
    <%% } %>
  </div>
</script>