<script type="script/template" id='recommended_events_template'>

  <div class='span4 shrink-div head'  data-toggle="tooltip" title="Industry Events close to your location.">
    <span class="pull-left">
      <h3>Recommended Events</h3>
    </span>
    <span class="btn-show-all pull-right"></span>
    <div class='clearfix'></div>
  </div>

  <ul class='row events-filter clearfix custom-green-filters nav'>
    <li class='active'>
      <a href="#recommended-event-tab-all" data-toggle='tab' class='badge badge-custom-green pull-left event-filter'>
        ALL
      </a>
    </li>

    <li>
      <a href="#recommended-event-tab-current" data-toggle='tab' class='badge badge-custom-green pull-left event-filter'>
        CURRENT
      </a>
    </li>

    <li>
      <a href="#recommended-event-tab-past" data-toggle='tab' class='badge badge-custom-green pull-left event-filter'>
        PAST
      </a>
    </li>
  </ul>

  <div class='row'>
    <div class='tab-content events-display-tabs'>
      <div class='tab-pane active' id='recommended-event-tab-all'>
        
      </div>

      <div class='tab-pane' id='recommended-event-tab-current'>
        
      </div>

      <div class='tab-pane' id='recommended-event-tab-past'>

      </div>
    </div>
  </div>

</script>