<script type="script/template" id='role_application_template'>  
  
  <div class='row'>
    <div class='backdrop-cover'></div>
    <div class='user-cover-photo'  style='background: url(<%%= user.cover_photo.image.url %>) no-repeat'>
    </div>
  </div>
  <img src='<%%= user.profile_pic %>' class='img-circle applicant-photo'>
  <div class='row'>
    <div class='span3 applicant-details grey-backdrop text-center'>
      <div class='name bold'>
        <a href='/users/<%%= user.id %>' target='_blank'><%%= user.name %></a>
      </div>

      <div class='location'>
        <div class='location-img-blue light'></div>
        <%%= user.location %>
      </div

      <div class='talent medium'>
        <%%=  user.talent_names %>
      </div>
    </div>
  </div>

  <div class='row white'>
    <div class='about-applicant pull-left'>
      <div class='about-text regular'>
        <%%= user.about %>
      </div>

      <div class='actions'>
        <div class='action action-div message-applicant pull-left' data-message-subject='Regarding Your role appliation - <%%= role.name %>' data-message-recipients='<%%= user.email %>' data-message-header='Message Applicant - <%%= user.name %>'>
        </div>
        <%% if(approved != true) { %>
          <div class='action action-div accept pull-left'>
          </div>
        <%% } %>
        <div class='action action-div reject pull-left'>
        </div>
      </div>
    </div>

    <div class='applicant-reputation pull-left'>
      <div class='row text-center'>
        <%%= user.lovers.length %>
        <br/>
        FANS
      </div>

      <div class='row buttons text-center'>
        <a class='btn-view-cover btn-custom btn-grey disabled bold'>
          View Cover
        </a>
        <br/>
        <br/>
        <%% if(user.resume){ %>
          <a href='<%%= user.resume.document.url %>' target='_black' class='btn-view-resume btn-custom btn-grey disabled bold'>
            View Resume
          </a>
        <%% } %>
      </div>
      
    </div>
  </div>

</script> 