
<script type="script/template" id='sub_role_filter_template'>  
  <a href="#sub-role-tab-<%%= id %>" data-toggle='tab' class='badge badge-custom-green pull-left project-filter'>
      <%%= name %>
  </a>
</script>

<script type="script/template" id='sub_role_tab_template'>  
    Tab for sub - role <%%= subrole %>
    <br>
    applications count <%%= applications.length %>
</script>