
<script type="script/template" id='sub_role_filter_template'>
  <a href="#sub-role-tab-<%%= this.model.get('id') %>" data-toggle='tab' class='badge badge-custom-green pull-left project-filter'>
      <%%= subrole %>
  </a>
</script>

<script type="script/template" id='sub_role_tab_template'>  

    <div class='sub_role_applicatons'>
      
    </div>
</script>