<script type="script/template" id='user_projects_template'> 
  <div class='row'>
    <div class='span11 dashboard-tab-main-head'>
      <div class='row'>
        <div class='span7 details'>
          <div class='dashboard-tab-name regular'>
            Projects
          </div>
          <div class='dashboard-tab-desc light'>
            Create, manage and view your projects
          </div>
        </div>

        <div class='span4 text-center'>
          <a href="/projects/new" class='regular btn-custom btn-dark-grey medium action-div new-project' data-step="21">
            <i class='icon-plus' style='color: black'></i>&nbsp;&nbsp;Add New Project
          </a>
        </div>

      </div>
    </div>
  </div>

  <div class='row'>
    <div class='span11 dashboard-tab-heading'>
      My Projects
    </div>
  </div>

  <ul class='row projects-filter custom-green-filters nav'>
    <li class='active'>
        <a href="#project-tab-all" data-toggle='tab' class='badge badge-custom-green pull-left project-filter active'>
          ALL
        </a>
    </li>
    <li>
        <a href="#project-tab-draft" data-toggle='tab' class='badge badge-custom-green pull-left project-filter'>
          DRAFT
        </a>
    </li>

    <li>
        <a href="#project-tab-development" data-toggle='tab' class='badge badge-custom-green pull-left project-filter'>
          DEVELOPMENT
        </a>
    </li>

    <li>
        <a href="#project-tab-pre-production" data-toggle='tab' class='badge badge-custom-green pull-left project-filter'>
          PRE-PRODUCTION
        </a>
    </li>

    <li>
        <a href="#project-tab-production" data-toggle='tab' class='badge badge-custom-green pull-left project-filter'>
          PRODUCTION
        </a>
    </li>

    <li>
        <a href="#project-tab-post-production" data-toggle='tab' class='badge badge-custom-green pull-left project-filter'>
          POST-PRODUCTION
        </a>
    </li>

    <li>
        <a href="#project-tab-completed" data-toggle='tab' class='badge badge-custom-green pull-left project-filter'>
          COMPLETED
        </a>
    </li>

  </ul>

  <div class='row'>
    <div class='tab-content projects-display-tabs'>
      <div class='tab-pane active' id='project-tab-all'>
        <div class='message_for_empty text-center'>
          No Projects found
        </div>
      </div>

      <div class='tab-pane' id='project-tab-draft'>
        <div class='message_for_empty text-center'>
          No Projects found
        </div>
      </div>

      <div class='tab-pane' id='project-tab-development'>
        <div class='message_for_empty text-center'>
          No Projects found
        </div>
      </div>

      <div class='tab-pane' id='project-tab-pre-production'>
        <div class='message_for_empty text-center'>
          No Projects found
        </div>
      </div>

      <div class='tab-pane' id='project-tab-production'>
        <div class='message_for_empty text-center'>
          No Projects found
        </div>
      </div>

      <div class='tab-pane' id='project-tab-post-production'>
        <div class='message_for_empty text-center'>
          No Projects found
        </div>
      </div>      


      <div class='tab-pane' id='project-tab-completed'>
        <div class='message_for_empty text-center'>
          No Projects found
        </div>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='span11 dashboard-tab-heading secondary'>
      Projects I Manage
    </div>
  </div>

  <div class='row'>
    <div class='span11' id='user-managing-projects'>
      <div class='message_for_empty text-center'>
        No Projects found
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='span11 dashboard-tab-heading secondary'>
      Projects I Applied For
    </div>
  </div>

  <div class='row'>
    <div class='span11' id='applied-projects'>
      <div class='message_for_empty text-center'>
        No Projects found
      </div>
    </div>
  </div>


    

</script>