<script type="script/template" id='user_event_template'>
    <div class='event-head'>
      <div class='event-backdrop'  style='background: url(<%%= main_photo.image.url %>) no-repeat'>
      </div>
      <div class='backdrop-cover'></div>

      <div class='event-title'>
        <%%= title %>
      </div>
      <div class='event-location light'>
        <div class="location-img-blue pull-left"></div>
        <%%= location %>
      </div>
      <div class='event-headline light'> 
        <%%= description %>
      </div>

      <div class="date pull-left medium">
        <div class="day">
          <%%= start.day %>
        </div>
        <div class="month regular">
          <%%= start.month_year %>
        </div>
      </div>
    </div>
    
    <div class='event-summary'>
      <div class='gradient clearfix'>
        <div class='event-actions pull-left'>
          <a href="/events/<%%= id %>/edit" target='_blank'  class='btn-manage btn-custom btn-cement medium pull-left'>
            Edit Details
          </a>
          <a href="#"  class='btn-manage btn-custom btn-cement send-generic-message medium pull-right' data-message-subject='Reg. Event - <%%= title %>' data-message-recipients='<%%= attendees_emails.join(",") %>' data-message-header='Message Attendees - <%%= title %>'>
            Message Attendees
          </a>
        </div>

        <div class='attendees-details pull-left'>
          <div class='attendees pull-left light'>
            ATTENDING: <br/>

            <%% _.first(attendees, 5).forEach(function(attendee){ %>
              <img src='<%%= attendee.profile_pic %>' class='img-circle event-attendee-pic pull-left'>
            <%% }) %>

          </div>
          <div class='pull-right attendees-summary text-center'>
            <div class='count'><%%= attendees.length %></div>
            TOTAL ATTENDING
          </div>
        </div>
      </div>
      <div class='event-popularity clearfix'>
        
        <div class='likes pull-right'>
          <div class='pull-right'>
            <%%= likes.length %>
          </div>
          <div class="heart-blue icon pull-right"> </div>
        </div>

        <div class='comments pull-right'>
          <div class='pull-right'>
            <%%= comments.length %>
          </div>
          <div class="heart-blue icon pull-right"> </div>
        </div>
        
      </div>
    </div> 
  
</script>