<script type="script/template" id='user_event_template'>
    <a href='/events/<%%= url_param %>'>
      <div class='event-head'>
        <div class='event-backdrop'  style='background: url(<%%= main_photo.image.regular.url %>) no-repeat'>
        </div>
        <div class='backdrop-cover'></div>

        <div class='event-title'>
          <%%= title %>
        </div>
        <div class='event-location light'>
          <div class="location-img-blue pull-left"></div>
          <%%= location %>
        </div>
        <div class='event-headline light'> 
          <%%= description %>
        </div>

        <div class="date pull-left medium">
          <div class="day">
            <%%= start.day %>
          </div>
          <div class="month regular">
            <%%= start.month_year %>
          </div>
        </div>
      </div>
    </a>
    <div class='event-summary'>
      <div class='gradient clearfix'>
        <div class='event-actions pull-left'>
          <a href="/events/<%%= id %>/edit" target='_blank'  class='btn-edit btn-custom btn-cement medium pull-left event-action'>
            Edit Details
          </a>
          <a class='btn-message-attendees btn-custom btn-cement send-generic-message medium pull-right event-action' data-message-subject='Reg. Event - <%%= title %>' data-message-recipients='<%%= attendees_emails.join(",") %>' data-message-header='Message Attendees - <%%= title %>'>
            Message Attendees
          </a>
        </div>

        <div class='attendees-details pull-left'>
          <div class='attendees pull-left light'>
            ATTENDING: <br/>

            <%% _.first(attendees, 5).forEach(function(attendee){ %>
              <div class="img-circle event-attendee-pic user-circle-image pull-left" style="background: url(<%%= attendee.profile_tiny %>)">
              </div>
            <%% }) %>

          </div>
          <div class='pull-right attendees-summary text-center'>
            <div class='count'><%%= attendees.length %></div>
            TOTAL ATTENDING
          </div>
        </div>
      </div>
      <div class='event-popularity clearfix'>
        
        <div class='likes pull-right'>
          <div class='pull-right'>
            <%%= likes.length %>
          </div>
          <div class="heart-blue active icon pull-right"> </div>
        </div>

        <div class='comments pull-right'>
          <div class='pull-right'>
            <%%= comments.length %>
          </div>
          <div class="comment-blue icon pull-right"> </div>
        </div>
        
      </div>
    </div> 
  
</script>