<script type="script/template" id='user_projects_template'> 
  <div class='row'>
    <div class='span11 dashboard-tab-main-head'>
      <div class='row'>
        <div class='span7 details'>
          <div class='dashboard-tab-name regular'>
            Projects
          </div>
          <div class='dashboard-tab-desc light'>
            Create, manage and view your projects
          </div>
        </div>

        <div class='span4 text-center'>
          <a href="/projects/new" class='regular btn-custom btn-dark-grey medium action-div new-project'>
            <i class='icon-plus' style='color: black'></i>&nbsp;&nbsp;Start New Project
          </a>
        </div>

      </div>
    </div>
  </div>

  <div class='row'>
    <div class='span11 dashboard-tab-heading'>
      My Projects
    </div>
  </div>

  <div class='row projects-filter'>
    <a href="#project-tab-draft" data-toggle='tab' class='badge badge-custom-green pull-left project-filter active'>
      DRAFT
    </a>

    <a href="#project-tab-active" data-toggle='tab' class='badge badge-custom-green pull-left project-filter'>
      ACTIVE
    </a>

    <a href="#project-tab-completed" data-toggle='tab' class='badge badge-custom-green pull-left project-filter'>
      COMPLETED
    </a>
  </div>

  <div class='row'>
    <div class='tab-content projects-display-tabs'>
      <div class='tab-pane active' id='project-tab-draft'>
        
      </div>

      <div class='tab-pane' id='project-tab-active'>
        
      </div>

      <div class='tab-pane' id='project-tab-completed'>

      </div>
    </div>
  </div>

  <div class='row'>
    <div class='span11 dashboard-tab-heading secondary'>
      Projects I Applied For
    </div>
  </div>

  <div class='row'>
    <div class='span11' id='applied-projects'>
      Projects I Applied For
    </div>
  </div>


    

</script>