# jQuery ->
#   $('body').prepend('<div id="fb-root"></div>')
#   $.ajax
#     url: "#{window.location.protocol}//connect.facebook.net/en_US/all.js"
#     dataType: 'script'
#     cache: true


# window.fbAsyncInit = ->
  
#   FB.init(appId: '<%= ENV["FACEBOOK_APP_ID"] %>', cookie: true)

#   $('body').on 'click','#fb_auth', (e) ->
#     e.preventDefault()
#     FB.login (response) ->
#       window.location = '/users/auth/facebook/callback' if response.authResponse

#   $('#sign_out').click (e) ->
#     FB.getLoginStatus (response) ->
#       if response.authResponse
#         FB.logout()
#     true